html {
	background-color:#3C3C3C;
}

.resp-uname{
font-size:14px;
color:#627AAD;
vertical-align:50%;
margin-left:4px;
}

.resp-text{
font-size:14px;
color:#101010;
vertical-align:50%;
}

#no-group-selected{
color:#700;
font-size:11px;
display:none;
opacity:0;
}

.negative-click{
font-size:12px;
}
.positive-click{
font-size:12px;
}

.login-success{
color:lightgreen;
}
.login-fail{
color:red;
}

.tip{
font-size:11px;
margin:0px 0px 0 -50px;
background:black;
padding:5px;
display:inline-block;
}

.error-tip div.tip {
    color:red !important;
}

.tip-title{ 
color:#e95; 
margin:-20 0px 0 -50px; 
}

.private-lock{
vertical-align:-25%;
margin:0 10px 0 2px;
}

#private{
float:left;
background:blue;
}

div.sideinfo li.panel-item-public-group{ 
float: left;
/*height:36px;*/
/*width:%;*/
border-top:none;
/*margin:4px 2px 4px 8px;*/
color:#627AAD;

}

div.sideinfo .public-user-group-count{
color:#888;
background:#333;
text-align:left;
width:24px;
height:16px;
padding:2px;
text-align:center;
display:inline-block;
	border-bottom-left-radius: 10px 10px;
	border-bottom-right-radius: 10px 10px;
	border-top-left-radius: 10px 10px;
	border-top-right-radius: 10px 10px;
}

.panel-item-public-group li{
}


.people-contact-list{
float:left;
}

.active-convo-uname{
color:black;
vertical-align:40%;
padding-left:4px;
}

.top-member-member{
font-weight:bold;
}

#public-followers:hover, #public-following:hover{
background:#222;
cursor:pointer;
color:yellow;
}

#public-followers, #public-following{
font-size:13px;
display:inline-block;
text-align:center;
padding-top:2px;
vertical-align:-22%;
height:30px;
width:140px;
color:#888;
background:#333;
margin-left:80px;
padding-top:10px;
}

.top-member-count{
display:block;
float:right;
font-size:11px;
padding:2px;
}


#total-member-count{
width:14px;height:10px;
cursor:pointer;
}

div.sideinfo .panel-item-public-admin{
float:left;
border-top:none;
}

div.sideinfo .online-img {
float:left;
padding:1px;
}


.online-bullet{
float:right;
}

.favicon{
float:right;
display:block;
vertical-align:40%;
}

.online-group-count{
color:lightgreen;
font-size: 14px;
font-weight:bold;
vertical-align:40%;
padding-right:2px;
}

body {
	background-color:#DFEAF4;
	color: #F7F7F7;
/*	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;*/
	font-family: Arial, sans-serif;
	margin: 0;
}

input, button, select {
	font-family: Arial, sans-serif;
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-moz-binding: url('ellipsis.xml#ellipsis');
}

.inblock {
	display:inline;
	#zoom: 1;
	#display:inline;
	border:0;
	padding:0;
	vertical-align:middle;
	#vertical-align: auto;
}

.inblock-public {
	display:inline-block;
	#zoom: 1;
	#display:inline;
	border:0;
	padding:0;
	vertical-align:50%;
	#vertical-align: auto;
}
.container {
	height: 1%;
	overflow: hidden;
}

.clarity {
	clear: both;
}

a {
	color: #F7F7F7;
}

ul.stream a {
	color:blue;
}

input.basic {
	background: #616161;
	border-top: 1px solid #2C2C2C;
	border-left: 1px solid #2C2C2C;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
	color: #fff;
	font-size: 12px;
	padding: 5px;
}

input.basic.error {
	border: 1px solid #F5564F;
}

input.basic, select.basic {
	border-top: 1px solid #2C2C2C;
	border-left: 1px solid #2C2C2C;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
	font-size: 12px;
	padding: 5px;
}

select.basic{
	color: #333;
}

input.basic.error, select.basic.error {
	border: 1px solid #F5564F;
}

#wrapper {
	margin: auto;
	width: 950px;
}

#slim-background {
    display: block;
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 35px;
    background: #3C3C3C;
}

#logo {
	background: url("/images/flat/tap_block.png") bottom #fffa00;
	float: left;
	height: 80px;
	width: 80px;
}

.logo-slim {
    width: 55px !important;
    height: 55px !important;
    background: url("/images/flat/tap_block_small.png") bottom #fffa00 !important;
    position: relative;
}

#logo a {
	float: left;
	height: 53px;
	width: 54px;
	border:1px solid #222;
}

.nav-slim {
    position: relative;
}

#nav {
	float: right;
	padding: 13px 10px 10px;
}

.nav-slim {
    padding: 6px !important;
}

.nav-slim a {
    color: white !important;
    font-size: 13 !important;
}

#nav a {
	color: #627AAD;
	font-size: 12px;
	margin-right: 10px;
	padding-bottom: 3px;
	text-decoration: none;
}

#nav a:hover {
	border-bottom: 2px solid #ccc;
}

#nav a.current {
	color:#999;
	border-bottom: 2px solid #627AAD;
}

#searchbar {
	background: #3C3C3C;
	float: left;
	margin-left: 80px;
	padding: 10px;
	display: inline;
}

/* FIXME: dirty hack with !important style override */
.searchbar-slim {
    position: relative;
    margin-left: 20px !important;
    padding: 4px !important;

}

#searchover {
	position: absolute;
	width: 395px;
	padding: 10px;
	margin-top: 2px;
	font-size: 22px;
	color: #fff;
}

.searchover-slim {
    width: 300px !important;
    padding: 10px !important;
    margin-top: 2px !important;
    font-size: 18px !important;
}

.search-count-container{
float:right;
font-size:10px;
}

.search-users-online{
color:lightgreen;
}

.search-users-total{
color:white;
}

#search {
	width: 400px;
	padding:10px;
	font-size: 18px;
}

#searchsuggest {
	border: 1px solid #616161;
	background: #3C3C3C;
	position: absolute;
	margin-left: 2px;
	width: 410px;
	height: auto;
	display: none;
	z-index: 1;
    top: 47px;
    margin-left: 79px;
}

#searchsuggest.on {
	display: block;
}

#searchsuggest ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#searchsuggest li {
	border-top: 1px solid #3C3C3C;
	padding: 5px;
}

#searchsuggest li.selected {
	background-color: #fffa00;
	cursor: pointer;
}

#searchsuggest li.notice {
	font-size: 12px;
	color: #ACB19B;
}

#searchsuggest img.avatar {
	float: left;
	margin-right: 5px;
}

#searchsuggest li.selected p, #searchsuggest li.selected h2 {
	color: #3C3C3C;
}

#searchsuggest p, #searchsuggest h2 {
	margin: 0;
}

#searchsuggest h2 {
	color: #fffa00;
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 3px;
}

#searchsuggest p {
	font-size: 12px;
	color: #ACB19B;
}

#greeting {
	font-size: 12px;
	margin-right: 10px;
}

#main {
	margin-top: 30px;
	min-height: 450px;
	height: auto !important;
	height: 450px;
}

#content {
	width: 700px;
	margin-right: 0;
}

#content .section {
	margin-bottom: 25px;
}
#content .section .header-non {
	border-bottom: 6px solid #FFFC66;
}

#content .section .header {
	background: #3c3c3c;
	padding: 15px 10px;
    height: 20px;
}

#content .section .header h2 {
	border:1px solid #222;
	background: #fffa00;
	color: #101010;
	float: left;
	font-size: 16px;
	margin: -5px 10px 0 -15px;
	padding: 5px 10px 5px 20px;
}

#content .header h2 img {
	vertical-align: top;
	display: none;
}

#content .header h2.loading img {
	display: inline;
}

#content .header h2.loading span {
	display: none;
}

#content .section .body {
	background: white;
	padding: 0; /*15px 10px;*/
}

#content .section .floater {
	float: right;
}

#content .section .descriptionOLD { 
	font-size: 12px; 
	color: #ACB19B; 
	display: block; 
} 

#content .section .description {
	display: inline;
    font-size: 12px;
	color: #3C3C3C;
}

#content .section .description a {
	color: #3C3C3C;
}

#content .section.description .description {
	display: block;
}

#streamer {
	color: #fff;
	padding-right: 20px;
	background: url("/images/flat/icon.pausedfeed.png") no-repeat right top;
	padding-bottom: 3px;
	height: 13px;
	margin-left: 5px;
}

#streamer:hover {
	background: url("/images/flat/icon.pausedfeed.png") no-repeat right bottom;
}

.moderator-title{
	cursor:default;
}

#streamer.paused {
	background: url("/images/flat/icon.activefeed.png") no-repeat right top;
}

#streamer.paused:hover {
	background: url("/images/flat/icon.activefeed.png") no-repeat right bottom;
}

.aggr-favicons{
margin-top:-10px;
cursor:pointer;
border:none;
float:right;}

.last-resp{
display:inline-block;
}

.public-tap-favicon{
float:right;
}

#newtaps {
	font-size: 12px;
	padding-top: 3px;
	color: #fffa00;
	text-decoration: none;
	display: none;
}

#newtaps:hover {
	text-decoration: underline;
}

#newtaps.notify {
	display: inline;
}

#tapstream .icon {
	vertical-align: top;
}

#infobox {
	border-bottom-left-radius: 6px 6px;
	border-bottom-right-radius: 6px 6px;
	border-top-left-radius: 6px 6px;
	border-top-right-radius: 6px 6px;
	background: #3c3c3c;
	padding: 10px;
}

#infobox img.avatar {
	float: left;
	margin-right: 10px;
	width: 30px;
	height: 30px;
}

#infobox img.group-avatar {
	float: left;
	margin-right: 10px;
}

#infobox h2, #infobox p {
	margin: 0;
	margin-bottom: 5px;
}

#infobox h2 {
	color: #fffa00;
	font-size: 16px;
}

#infobox h2 .nick {
	font-size: 12px;
	color: #ACB19B;
}

.nick .follow_button{
	background: #D8D8D8 url(http://d1vgw4v7ja2ido.cloudfront.net/-b44d0948a4b53532.gif) repeat-x 0% 0%;
	color:blue;
	float:right;
	margin-right:12px;
	margin-bottom:4px;
}

.useronline, .viewers_online{
	color:lightgreen;
	}



#infobox p.stats {
	font-size: 11px;
	color: #ACB19B;
	padding-left: 70px;
}

#infobox p.headline {
	font-size: 14px;
	padding-left: 70px;
}

#infobox button {
	float: right;
	cursor: pointer;
	font-size: 12px;
	padding: 5px;
	background: #fffc66;
	border: none;
	margin-left: 10px;
}

#infobox button:hover {
	background: #fffa00;
}

#tapbox {
/*	border-bottom-left-radius: 6px 6px;
	border-bottom-right-radius: 6px 6px;
	border-top-left-radius: 6px 6px;
	border-top-right-radius: 6px 6px;*/
	background: lightgray;
	padding: 15px;
}

#tapto {
	position: absolute;
	width: 578px;
	padding: 10px;
	margin-top: -2px;
	font-size: 14px;
	color: #101010;
	background:white;
}
#aa {
	position: absolute;
	margin-top:34px;
	margin-left:2px;
	font-size: 12px;
	color: #eee;
}

#tapbox .counter {
	color: #898B84;
	margin-top: 8px; 
	margin-left: 555px;
	position: absolute;
	display: none;
}

#tapbox.active .counter {
	display: block;
}

#taptext, #tapfrom, #tapbox .textboxlist {
	background: white;
	border-top: 1px solid #898B84;
	border-left: 1px solid #898B84;
	border-right: 1px solid #EAEEE1;
	border-bottom: 1px solid #EAEEE1;
	width: 530px;
	font-size: 14px;
	padding: 5px 55px 5px 5px;
}

#tapfrom, #tapbox .textboxlist {
	background: #C3C6BC;
	margin-top: 10px;
	width: 580px;
	padding: 5px;
}

#tapbox .textboxlist {
	padding: 0;
	width: 580px;
	display:inline-block;
	#zoom: 1;
	#display:inline;
	padding:0;
	vertical-align:middle;
	#vertical-align: auto;
}

#tapbox .textboxlist ul {
	border: 0;
}

#tapbox .textboxlist input {
	border: 0;
	font-size: 14px;
	background: #C3C6BC;
}

#tapbox .textboxlist .textboxlist-bit-editable {
	border: 0;
	padding: 5px 15px 5px 10px;
}

#tapbox .textboxlist .textboxlist-bit-box {
	border: 1px solid #ccc;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	font-size: 14px;
	background: #3c3c3c;
	color: #fffa00;
	padding: 5px 15px 5px 10px;
}

#tapsend {
	cursor: pointer;
	font-size: 14px;
	padding: 3px;
	background: #fffc66;
	width: 60px;
	border: 1px solid #fffa00;
	margin-left: 10px;
}

#tapsend:hover {
	background: #fffa00;
}

.header span.stream-name span.visitor_count, span.visitor_count {
	font-size: 11px;
	text-decoration: none;
	margin-left: 3px;
	margin-right: 5px;
	background-image: url("/images/flat/icon.views.png");
	background-repeat: no-repeat;
	background-position: right top;
	padding-right: 18px;
	padding-bottom: 3px;
}

.header span.stream-name a , .header a{
	color: #ACB19B;
	font-size: 11px;
	text-decoration: none;
	margin-left: 3px;
	margin-right: 5px;
}

.header span.stream-name a:hover , .header a:hover{
	color: #fffa00;
}

.header ul.like-buttons {
    margin: 2px 25px 0px; 
    display:inline; 
    padding: 0; 
    list-style: none;   
}

.header ul.like-buttons li {
    float: left;
    display: inline; 
}

.header ul.like-buttons iframe {
    border: none;
    overflow:hidden;
    height:21px;   
}

ul.stream {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.stream li {
	padding: 15px 10px;
/*	border-bottom: 2px solid #627AAD;*/
	border-bottom: 2px solid #DFEAF4;
}

ul.stream li.notice {
	font-size: 14px;
	color: #ACB19B;
	text-align: center;
	display: none;
}

.favicon-stream-title{
vertical-align:-15%;
}

ul.stream li.loadmore {
	font-size: 14px;
	background: #222222;
	color: #ACB19B;
	cursor:pointer;
	text-align: center;
}

ul.stream li.loadmore:hover {
	font-size: 14px;
	background: #444444;
	cursor:pointer;
	text-align: center;
}

ul.stream.empty li.notice {
	display: list-item;
}

ul.stream img.avatar {
	text-decoration:none;
	width: 30px;
	height: 30px;
	float: left;
	margin-right: 10px;
	border: none;
}

ul.stream p {
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
}

ul.stream p:hover {
	text-decoration: underline;
}
ul.stream .tap-from, ul.stream .tap-actions {
	color: #ACB19B;
	font-size: 11px;
}

ul.stream .tap-from a {
	border:none;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color:#627AAD;
}

ul.stream .tap-from.offline a {
	color: #627AAD;
	font-size:14px;
}

ul.stream .tap-from a.date {
	color: gray;
	font-weight: normal;
	font-size: 11px;
}

ul.stream .tap-from a:hover {
	text-decoration: underline;
}

ul.stream .tap-body {
	color:#010101;
	font-size:16px;
	font-weight:bold;
	line-height: 1.5;
	padding-left: 70px;
    text-decoration: none;
}

ul.stream .tap-actions {
	margin-bottom:-10px;
	text-align: right;
}

ul.stream .tap-actions span {
	display:inline-block;
	margin-left: 10px;
	color:gray;
}

ul.stream .tap-resp .indicator {
	color: #627AAD;
	font-weight:bold;
	font-size:16px;
	display: none;
}

ul.stream .tap-resp .last-resp .body {
	max-width: 450px;
	margin-left: 0;
	margin-top: -3px;
}

ul.stream .tap-resp.typing .indicator {
	display: inline;
}

ul.stream .tap-resp.typing .last-resp {
	display: none;
}

ul.stream .tap-resp-count {
	text-decoration: none;
}

ul.stream .tap-actions .count {
	font-weight:bold;
	font-size:12px;
	color:#3C3C3C;
	padding-right: 20px;
/*	background: url("/images/flat/icon.resp.png") no-repeat right top; */
	padding-bottom: 3px;
}


ul.stream .tap-resp-count:hover .count {
	background-position: right bottom;
	color: #fffa00;
    text-decoration: none;
}

ul.stream .tap-actions .tap-view-count {
/*	background-image: url("/images/flat/icon.views.png");*/
}

ul.stream div.responses {
	display: none;
}

ul.stream div.responses.open {
	display: block;
}

div.responses ul.chat {
	background:white;
	float: right;
	height: 150px;
	list-style: none;
	margin: 10px 0;
	overflow: auto;
	padding: 0;
	width: 600px;
}

body div.responses ul.chat-pub {
height:350px;
}


ul.chat li {
	padding: 8px 5px;
	padding-left: 20px;
	font-size: 11px;
	line-height: 1.5;
}

ul.chat em {
	color: #5C5D57;
	float: right;
	font-style: normal;
}

ul.chat a.user {
	color: #ACB19B;
	font-weight: bold;
	text-decoration: none;
	margin-right: 5px;
	margin-left: -15px;
}

ul.chat a.user:hover {
	text-decoration: underline;
}

div.responses .counter {
	float: right;
	font-size: 10px;
	clear: right;
	margin-top: -20px;
	margin-right: 5px;
}

div.responses .overlay {
	float: right;
	font-size: 12px;
	color: #ACB19B;
	margin-top: -27px;
	width: 560px;
	padding: 1px 30px 10px 1px;
	color:#627AAD;
}

div.responses .chatbox {
	background: #D8DEC2;
	border: none;
	padding: 14px 30px 5px 5px;
	font-size: 12px;
	float: right;
	margin-right:4px;
	width: 560px;
}

#sidebar {
	float: right;
	width: 230px;
	font-size: 14px;
}

#sidebar .section {
	margin: 0 0 20px;
}

#you {
	background: #3C3C3C;
	padding: 10px;
}

#you .avatar {
	text-decoration:none;
	border:none;
	width: 50px;
	height: 50px;
	float: left;
	margin-right: 10px;
}

#you p {
	margin: 0;
}

#you a {
	font-size: 11px;
	text-decoration: none;
	margin-right: 3px;
}

#you p.special a {
	color: #ACB19B;;
}

#you a:hover {
	text-decoration: underline;
	color: #fffa00;
}
#freenode-link {
	background:red;
	padding: 10px;
}

#freenode-link.off {
	display: none;
}

#freenode-link p {
	color: #fffa00;
	margin: 0;
	margin-bottom: 5px;
	font-size: 12px;
	font-weight: bold;
}

#freenode-link input {
	width: 194px;
}

#freenode-link a.clear {
	display:inline;
	font-weight:bold;
	margin-left: 5px;
	text-decoration: none;
	font-weight: bold;
}

#freenode-link a.clear:hover {
	font-weight:bold;
	text-decoration: underline;
}

#freenode-link a.clear.active {
	font-weight:bold;
	display: inline;
}


#filter {
	padding: 10px;
}

#filter.off {
	display: none;
}

#filter p {
	color: #3C3C3C;
	margin: 0;
	margin-bottom: 5px;
	font-size: 12px;
	font-weight: bold;
}

#filter input {
	width: 194px;
	border:1px solid black;
}

#filterkey{
	background: white;
	color: black;
}

#filter a.clear {
	display: none;
	margin-left: 5px;
	color: #ACB19B;
	text-decoration: none;
	font-weight: normal;
}

#filter a.clear:hover {
	text-decoration: underline;
}

#filter a.clear.active {
	display: inline;
}

ul.bodylist {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.bodylist.empty li.notice {
	display: list-item;
}

ul.bodylist li {
	padding: 15px 10px;
	border-bottom: 1px solid #101010;
}

ul.bodylist img.avatar {
	float: left;
	margin-right: 10px;
	width: 30px;
	height: 30px;
}

ul.bodylist h2, ul.bodylist p {
	margin: 0;
	margin-bottom: 5px;
}

ul.bodylist h2, ul.bodylist h2 a {
	color: #627AAD;
	font-size: 16px;
	text-decoration: none;
}

ul.bodylist h2 a:hover {
	text-decoration: underline;
}

ul.bodylist h2 .nick, ul.bodylist h2 .nick a {
	color:black;
	font-size: 10px;
}

ul.bodylist p.stats {
	font-size: 11px;
	color:#666;
}

ul.bodylist p.headline {
	font-size: 15px;
	color:black;
}

ul.bodylist button {
	float: right;
	cursor: pointer;
	font-size: 12px;
	padding: 5px;
	background: #fffc66;
	width: 60px;
	border: none;
	margin-left: 10px;
}

ul.bodylist button:hover {
	background: #fffa00;
}

.button {
    cursor: pointer;
	font-size: 12px;
	padding: 5px;
	background: #fffc66;
	border: none;
	margin-left: 10px;
}
button:hover {
	background: #fffa00;
}

ul.bodylist li.notice {
	font-size: 14px;
	color: #ACB19B;
	text-align: center;
	display: none;
}
ul.bodylist li.notice-group {
	display: block;
}

div.form {
	padding: 10px;
}

div.form p {
	font-size: 12px;
	color:black;
}

div.form p.notify {
	background: #dbeaa2;
	color: #101010;
	border-top: 1px solid #bad84e;
	border-bottom: 1px solid #bad84e;
	font-size: 12px;
	font-weight: bold;
	padding: 5px 10px;
	display: none;
}

div.form.notify p.notify {
	display: block;
}

div.form p.error {
	background: #efa5a8;
	color: #101010;
	border-top: 1px solid #e25257;
	border-bottom: 1px solid #e25257;
	font-size: 12px;
	font-weight: bold;
	padding: 5px 10px;
	display: none;
}

div.form.error p.error {
	display: block;
}

div.form label {
	color: #627AAD;
	font-weight:bold;
	display: block;
	font-size: 16px;
	margin-left: 5px;
	margin-bottom: 3px;
	margin-top: 20px;
}

div.form label.inline {
	color: #ACB19B;
	display: block;
	font-size: 14px;
	margin-left: 5px;
	margin-bottom: 3px;
}

div.form label span {
	font-size: 11px;
	color: #999;
	margin-left: 10px;
}

#create-group input,#user-account input{
	background:white;
	color:black;
	font-weight:bold;
	font-size:16px;
}
#catagory-manage-link a{
	font-weight:bold;
	color:blue;
	text-decoration:none;
}
#catagory-manage-link a:hover{
	text-decoration:underline;
}

#catagory-list{
	color:#627AAD;
	list-style:none;
	margin:0px auto;
}

#catagory-descr{
	font-weight:bold;
	font-size:16px;
	color:#777;
}

body .add-catagory-button{
	margin-bottom:4px;
	margin-left:4px;
	border:1px solid gray;
}
.add-catagory-button a{
	font-size:14px;
	margin-left:8px;
	text-decoration:none;
	color:#333;
}

.add-catagory-button a:hover{
}

#catagory-add-input{
	margin-left:40px;
	margin-top:2px;
	padding-top:10px;
	margin-top:20px;
	margin-bottom:20px;
	border:solid #627AAD 2px;
}

#catagory-list li {
	margin-top:8px;
}

#catagory-list li a{
	margin-right:15px;
	color:blue;
	font-size:10px;
	float:right;
	text-decoration:none;
}

#catagory-list li a:hover{
	text-decoration:underline;
}

.catagory-name{
	margin-right:10px;
	font-weight:bold;
}

div.form label span.error {
	color: #eab4b9;
	display: none;
}

div.form label.error span.help {
	display: none;
}

div.form label.error span.error {
	display: inline;
}

div.form input.error, div.form select.error {
	border: 1px solid #eab4b9;
}

div.form input.full, div.form select.full {
	width: 650px;
	margin-left: 5px;
}

div.form input.file {
	margin: auto;
	display: block;
}

div.form div.buttons {
	margin-top: 30px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 14px;
	color: #ACB19B;
}

div.form div.buttons a {
	color: #ACB19B;
}

div.form button.action {
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	padding: 10px;
	background: #fffc66;
	border: 1px solid #fffa00;
}

div.form button.action:hover {
	background: #fffa00;
}

div.form #preview {
	display: block;
	margin: auto;
	margin-top: 10px;
}

div.form #preview.blank {
	display: none;
}

#lists a.tab {
	width: 30px;
	height: 30px;
	background-color: #ACB19B;
	float: left;
	margin-right: 5px;
	margin-bottom: 0;
	text-decoration: none;
	color: #101010;
	font-size: 12px;
}

#lists a.tab.notify {
	padding: 5px 2px 5px 35px;
	width: 20px;
	height: 20px;
}

#lists a.selected {
	background-color: #fffa00 !important;
}

#tab-groups {
	background: url('/images/flat/icon.groups.png') no-repeat 30% center;
}

#tab-convos {
	background: url('/images/flat/icon.convos.png') no-repeat 30% center;
}

#tab-people {
	background: url('/images/flat/icon.people.png') no-repeat 30% center;
}

#tab-direct {
	background: url('/images/flat/icon.direct.png') no-repeat 30% center;
}

#lists h2 {
	margin: 0;
	margin-top: 0;
	background: #fffa00;
	color: #101010;
	clear: both;
	float: left;
	padding: 5px;
	font-size: 14px;
	width: 220px;
}

#list-action {
	float: right;
	font-size: 11px;
	color: #101010;
	margin-right: 5px;
	margin-top: 2px;
}

#lists ul {
	margin: 0;
	display: none;
	float: left;
	width: 230px;
	padding: 0;
	list-style: none;
	font-size: 12px;
	border-bottom: 2px solid #fffa00;
}

#lists ul.selected {
	display: block;
}

.follow_button{
background-color: #C3DD82;
background: #dee url(http://d1vgw4v7ja2ido.cloudfront.net/-b44d0948a4b53532.gif) repeat-x 0% 0%;
/*background-image: url(http://d1vgw4v7ja2ido.cloudfront.net/-a31fc8b100788bfd.gif);*/
border-bottom: 1px solid #648517;
border-color: #8CB332 #8CB332 #648517;
color: blue;
text-shadow: #D4ED95 0px 1px;
border-bottom-left-radius: 3px 3px;
border-bottom-right-radius;
border: 1px solid;
border-top-left-radius: 3px 3px;
border-top-right-radius: 3px 3px;
cursor: pointer;
display: inline-block;
font-weight:bold;
padding: 3px 10px;
text-align: center;
text-decoration: none;
font-size:10px;
}

.follow_button:hover{
	background-image: url();
}

#lists li {
	color:black;
	overflow:hidden;
	border-bottom: 2px solid white;
	cursor: pointer;
	padding: 8px 5px;
	margin: 0;
}

#lists li p {
	margin: 0;
}

#lists li a {
	text-decoration: none;
}

#lists li a.names {
	width: 190px;
	margin-top: -3px;
	float:left;
	color:#303030;
	font-size: 12px;
}


#lists li img {
}


#lists li span.count, .show-resp-count {
	color: white;
	font-weight:bold;
	position:absolute;
	height:10px;
	padding:3px 3px 6px 6px;
	width:10px;
	background:red;
	border-bottom-left-radius: 10px 10px;
	border-bottom-right-radius: 10px 10px;
	border-top-left-radius: 10px 10px;
	border-top-right-radius: 10px 10px;
	margin-top:8px;
	display:none;
}

ul.stream span.show-resp-count{ background:#DFEAF4; color:gray; position:relative;margin:0; padding:4px 4px 6px 6px; width:7px; height:15px; }

#lists li span.remove-convo {
	float:right;
	font-weight:bold;
	height:10px;
	padding: 3px 13px 12px 12px;
	width:46px;
	background:red;
	
	border-bottom-left-radius: 10px 10px;
	border-bottom-right-radius: 10px 10px;
	border-top-left-radius: 10px 10px;
	border-top-right-radius: 10px 10px;
}

.user-admin{ float:left; } 

#online-only-checkbox{
font-size:11px;
list-style:none;
}

#lists li span.new {
	color: #fffa00;
	display: none;
}

#lists li.new span.new {
	display: inline;
}

#lists li .count.action {
	margin: none;
	font-size: 11px;
	color: #fffa00;
}

#lists li .count.action a {
	margin: 0;
	padding: 0;
}

#lists li:hover {
	background: #fffb33;
	color: #101010;
}

#lists li:hover a {
	color: #101010 !important;
}

#lists li:hover .new, #lists li:hover .count {
	color: #101010 !important;
}

#lists li.notify {
	cursor: auto;
	color: #616161 !important;
}

#lists li.selected a {
	color: black;
	font-weight:bold;
}

#lists li.notify:hover {
	background: transparent !important;
}

#lists li.notify:hover {
	background: transparent !important;
}

#lists li p.from {
	margin-bottom: 3px;
	font-weight: bold;
}

#lists li.selected p.from {
	color: #fffa00;
}

#lists li.selected:hover p.from {
	color: #101010;
}

#lists li p.body {
	font-size: 11px;
	width: 200px;
}


/* sideinfo */
div.sideinfo a.selected {
	background-color: #fffa00 !important;
}

div.sideinfo h2 {
	margin: 0;
	margin-top: 0;
	color: #101010;
	clear: both;
	float: left;
	padding: 5px;
	font-size: 14px;
	width: 220px;
}
div.sideinfo h3 {
font-size:12px;
padding:3px;
padding-left:9px;
cursor:pointer;
color:#EEE;
}
div.sideinfo h3 .follow_button{
margin:4px 2px 0 0;
display:block;
color:#111;
font-size:13px;
}

div.sideinfo h3:hover {
color: #fffa00;
}

div.sideinfo ul {
	margin: 0;
	float: left;
	width: 230px;
	padding: 0;
	list-style: none;
	font-size: 12px;
}

div.sideinfo li {
	color: #627AAD;
	/* background: #101010; */
	cursor: pointer;
	padding: 8px 5px;
	margin: 0px;
}

div.sideinfo li p {
	width: 53px;
	margin: 0;
	float:left;
}

div.sideinfo li a {
	text-decoration: none;
	display:inline-table;
}

div.sideinfo li a.names {
	color:#627AAD;
	width: 150px;
	margin-top: -10px;
	vertical-align:33%;
}

div.sideinfo li span.count {
	float: right;
	color: #555;
	font-weight:bold;
}

div.sideinfo li span.new {
	color: #fffa00;
	display: none;
}

div.sideinfo li.new span.new {
	display: inline;
}

div.sideinfo li .count.action {
	margin: none;
	font-size: 11px;
	color: #fffa00;
}

div.sideinfo li .count.action a {
	margin: 0;
	padding: 0;
}

div.sideinfo li:hover {
	background: #fffb33;
	color: #101010;
}

div.sideinfo li:hover a {
	color: #101010 !important;
}

div.sideinfo li:hover .new, div.sideinfo li:hover .count {
	color: #101010 !important;
}

div.sideinfo li.notify {
	cursor: auto;
	color: #616161 !important;
}

div.sideinfo li.selected a {
	font-size: 13px;
	font-weight: bold;
}

div.sideinfo li.notify:hover {
	background: transparent !important;
}

div.sideinfo li.notify:hover {
	background: transparent !important;
}

div.sideinfo li p.from {
	margin-bottom: 3px;
	font-weight: bold;
}

div.sideinfo li.selected p.from {
	color: #fffa00;
}

div.sideinfo li.selected:hover p.from {
	color: #101010;
}

div.sideinfo li p.body {
	font-size: 11px;
	width: 200px;
}


#footer {
	background: #3C3C3C;
	font-size: 12px;
	margin-top: 50px;
	padding: 10px;
	text-align: center;
}

#footer .nav {
	margin-left: 20px;
}

#footer .nav a {
	margin-right: 20px;
	text-decoration: none;
}

#footer .nav a:hover {
	color: #fffa00;
}

#templates {
	display: none;
}

ul#pending-members {
  list-style: none;
  padding: 0;
  margin: 20px 40px;
  border-bottom: 1px solid #DFEAF4;
}
ul#pending-members li {
  border-top: 1px solid #DFEAF4;
  padding:5px 20px;
}

.error-message {
    position: absolute;
    width: 180px;
    z-index: 13000;
    border: 1px darkred solid;
    background: darkred;
	border-bottom-left-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	border-top-right-radius: 5px 5px;
}

.error-title {
    font-weight: bold;
    font-size: 14px;
    padding: 8px;
    background: #610000;
}

.error-text {
    font-size: 13px;
    padding: 4px 8px 8px;
    opacity: 0.6;
}

.notification-number {
    position: absolute;
    width: 20px;
    height: 20px;
	border-bottom-left-radius: 10px 10px;
	border-bottom-right-radius: 10px 10px;
	border-top-left-radius: 10px 10px;
	border-top-right-radius: 10px 10px;
}

ul.stream .tap-from .group_mod_controls {
	float: right;
	text-decoration: none;
	border: 0px;
}
ul.stream .tap-from .group_mod_controls a {
	font-size: 10px;
	text-decoration: none;
	border: 0px;
}
ul.stream .tap-from .group_mod_controls a.link_promote { 	color: #008800; }
ul.stream .tap-from .group_mod_controls a.link_promote:hover { 	color: #00AA00; border-bottom: 1px solid #009900; }
ul.stream .tap-from .group_mod_controls a.link_ban {		color: #880000; }
ul.stream .tap-from .group_mod_controls a.link_ban:hover {		color: #FF0000; border-bottom: 1px solid #FF0000; }



ul.stream .group_mod_controls {
	text-decoration: none;
	border: 0px;
}
ul.stream .group_mod_controls a {
	font-size: 10px;
	text-decoration: none;
	color: #ff0000;
	border: 0px;
}
