#content .body .full {
	margin: 0;
	padding: 12px;
    font-size: 18px;
}

body .new-group{
	background:white;
}
body .new-group .search-group-descr{
	font-weight:bold;
	color:black;
}
body #searchsuggest .new-group .search-group-name{
	
	font-weight:bold;
	color:black;
}

#curtain {
	display: none;
	position: absolute;
	background: #000;
	height: 100%;
	width: 100%;
	z-index: 2;
	top: 0;
}

div#curtain.show {
    display: block;
}

.transparent_class_compat {
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}
.transparent_class {
	opacity: 0.5;
}

#logout-list{
	color:black;
	font-size:28px;
	list-style:none;
	width:700px;
}

.logout-item{
	margin-top:50px;
}

div.info {
	line-height: 1.3;
	color: #627AAD;
}

div.info h2 {

	color:#627AAD;
	font-size: 14px;
	margin-top: 20px;
	margin-bottom: 5px;
}

div.info p {
	color:black;
	font-size: 12px;
	margin-top: 0;
	margin-bottom: 10px;
}

div.info p.callout {
	font-weight:bold;
	color:#627AAD;
	font-size: 16px;
	line-height: 1.2;
	margin: 0 0 20px 0;
}

div.form input.stretch {
	width: 600px;
}

div.form input.big {
	font-size: 18px;
	padding: 10px;
}

div.form p.buttons, div.form p.center {
	text-align: center;
}

div.form p.buttons {
	margin-top: 30px;
}

div.form button.action {
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	padding: 10px;
	background: #fffa00;
	border: 1px solid #fffa00;
}

div.form button.action:hover {
	background: #fffa00;
}

#connect-signup {
        display: none;
        position: absolute;
        width: 500px;
        z-index: 2;
        background: #F2F2F2;
        top: 100px;
        left: 200px;
        border: 1px solid #ccc;
        padding: 10px;
}

#connect-signup h2 {
        border-bottom: 2px solid #ccc;
        color: #333;
        font-weight: bold;
        margin-bottom: 10px;
}

#connect-signup p {
        margin-bottom: 10px;
        font-size: 13px;
}

#connect-signup span.indicator {
        display: none;
}

#connect-signup2 span.indicator {
        display: none;
}

#connect-signup p.forms {
        margin-top: 10px;
        padding-left: 30px;
        clear: both;
}

#connect-signup label {
        font-size: 16px;
        margin-top: 20px;
        font-weight: bold;
        color: #3088ED;
}

#connect-signup p.guide, #connect-signup2 p.guide {
        display: none;
        margin-top: -5px;
        text-align: right;
        padding-right: 60px;
        margin-bottom: 10px;
        clear: both;
        color: #F12C46;
}

#connect-signup input {
        border: 1px solid #ccc;
        padding: 5px;
        float: right;
        margin-right: 50px;
        width: 300px;
        font-size: 16px;
        margin-bottom: 10px;
}

#connect-signup input.error {
        background: #FDEBEB;
}

#connect-signup input.passed {
        background: #EEFDEB;
}

#connect-signup2 input.error {
        border:1px solid red;
}

#connect-signup2 input.passed {
	border:1px solid lightgreen;
}

#connect-signup button {
        font-size: 16px;
}

.tap-from a, #tapper-info a.tap-from {
        color: #627AAD;
}

#modal-container {
    width: 500px;
    margin: auto;
}

.modal-window {
    display: none;
    position: absolute;
    width: 500px;
    z-index: 2;
    background: #F2F2F2;
    top: 100px;
    padding: 10px;
    border: 7px solid black;
    -moz-border-radius:    5px;
	-webkit-border-radius: 5px;
	border-radius:         5px;
}

div.modal-window.show {
    display: block;
}

.modal-window .modal-menu {
    margin-top: 50px;
    text-align: right;
    font-size: 14px;
    margin-right: 20px;
}

#modal-sign-notify {
    margin-top: 100px;
    text-align: center;
}

.modal-actions {
    color: #656565;
    font-size: 14px;
}
       
.modal-window h2 {
        border-bottom: 2px solid #ccc;
        color: #333;
        font-weight: bold;
        margin-bottom: 10px;
		margin-top: 4px;
}

.modal-window p {
        margin-bottom: 10px;
        font-size: 13px;
		color: #656565;
}

.modal-window a {
		color: #000000;
		font-weight: bold;
}

.modal-window span.indicator {
        display: none;
}

.modal-window p.forms {
        margin-top: 10px;
        padding-left: 30px;
        clear: both;
}

.modal-window label {
        font-size: 16px;
        margin-top: 20px;
        font-weight: bold;
        color: #3088ED;
}

.modal-window p.guide, .modal-window2 p.guide {
        display: none;
        margin-top: -5px;
        text-align: right;
        padding-right: 60px;
        margin-bottom: 10px;
        clear: both;
        color: #F12C46;
}

.modal-window input {
	display:block;
        border: 1px solid #ccc;
        padding: 5px;
        float: right;
        margin-right: 50px;
        width: 21px;
        font-size: 16px;
        margin-bottom: 10px;
}

.modal-window input.error {
        background: #FDEBEB;
}

.modal-window input.passed {
        background: #EEFDEB;
}

.modal-cancel {
font-size:11px;
}

.modal-window button {
        font-size: 16px;
	background: #39D url(http://s.twimg.com/a/1285108869/images/bg-btn-blue.png) repeat-x scroll 0px 0px;
	border: 1px solid #39D;
	color: white;
	font-size: 11px;
	font-weight: bold;
	margin: 0px 5px 0px 0px;
	padding: 4px 10px 5px;
	text-shadow: #39D 0px -1px 0px;
	cursor:pointer;
	border-radius:          4px;
	-moz-border-radius:		4px;
	-webkit-border-radius:	4px;
}

.modal-window button:hover {
	background: #39D url() repeat-x scroll 0px 0px;
}

#suggestions span.fail {
    color: darkgray;
    font-size: 14px;
    display: none;
}

div#suggestions {
    overflow: auto;
    background-color: white;
    border: 1px black solid;
    color: black;
    padding: 14px;
    height:300px;
}

#suggestions ul {
    color: black;
    font-size: 14px;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

#suggestions li {
	cursor: pointer;
	font-size: 11px;
	height: 60px;
	padding-left: 23px;
	padding: 0px;
    border-bottom: 1px solid darkgrey;
    vertical-align: middle;
	-webkit-box-shadow: rgba(0, 0, 0, 0.496094) 1px 1px 2px 1px;
	margin-bottom:10px;
}

#suggestions li.selected {
    background-color:#EEEECC;
}

#suggestions li img {
    clear: right;
    display: inline-block;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}

#suggestions input {
    float: left;
    margin-right: 10px;
    padding: 0;
    margin-bottom: 0;
    color: black;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
}

#suggestions label {
   color: black;
   font-size: 17px;
   font-weight: normal;
   cursor:pointer;
   margin-left: 15px;
   float:left;
   display:block;
}

#login a.tab {
	width: 30px;
	height: 30px;
	background-color: #ACB19B;
	float: left;
	margin-right: 5px;
	margin-bottom: 0;
	text-decoration: none;
	color: #101010;
	font-size: 12px;
}

#login a.selected {
	background-color: #fffa00 !important;
}

#tab-people {
	background: url('/images/flat/icon.tap.png') no-repeat 30% center;
}

#login h2 {
	margin: 0;
	margin-top: 0;
	background: #fffa00;
	color: #101010;
	clear: both;
	float: left;
	padding: 5px;
	font-size: 14px;
	width: 220px;
}

#login ul {
	margin: 0;
	float: left;
	width: 230px;
	padding: 0;
	list-style: none;
	font-size: 12px;
}

body #login li {
	padding: 8px 5px;
	margin: 0;
}

#login li.notice {
	font-size: 11px;
	color: #627AAD;
}

#login li.action {
	text-align: center;
}

#login li label {
	color:#627AAD;
	margin-bottom: 3px;
	font-weight: bold;
}

#pwrecovery li label {
	color:#627AAD;
	margin-bottom: 3px;
	font-weight: bold;
}

#pwrecovery ul {
	margin: 0;
	float: left;
	width: 230px;
	padding: 0;
	list-style: none;
	font-size: 12px;
	border-bottom: 2px solid #fffa00;
}

#pwrecovery li button {
	cursor: pointer;
	font-size: 14px;
	padding: 3px;
	background: #fffa00;
	width: 60px;
	border: 1px solid #fffa00;
}

#login li p {
	margin: 0;
}

#login li p.body {
	font-size: 11px;
	width: 200px;
}

#login li input {
	width: 200px;
}

#login li button {
	cursor: pointer;
	font-size: 14px;
	padding: 3px;
	background: #fffa00;
	width: 60px;
	border: 1px solid #fffa00;
}

#login li button:hover {
	background: #fffa00;
}

#inviter {
	background: #3C3C3C;
	padding: 10px;
}

#inviter p, #inviter h2 {
	margin: 0;
}

#inviter h2 {
	color: #fffa00;
	font-size: 14px;
	margin-bottom: 10px;
}

#inviter p {
	color: #D8DEC2;
	font-size: 12px;
}

#inviter a {
	text-decoration: none;
	margin-right: 3px;
}

#inviter a:hover {
	text-decoration: underline;
	color: #fffa00;
}

#searchbar {
	margin-left: 50px;
}

#signup-link{
color:#627AAD;
display:block;
float:right;
padding-top:4px;
font-size:14px;
font-weight:bold;
}

#signup-link a{
padding-left:16px;
color:#627AAD;
}

#fblogin{
float:left;
}

#taplogin li {
overflow:hidden;
}

ul.modOptions {
	list-style-type:none;
	padding: 0px;
	margin: 0px;
}
ul.modOptions li a.modlink {
	display:		inline-block;
	padding-left:	20px;
	line-height:	18px;
	text-decoration:none;
	color:			#FFFFEE;
}
.mod-facebook-status	{ background:		url("/images/fb.ico") center left no-repeat; }

.mod-go-profile	{ background:		url("/images/icons/user.png") center left no-repeat; }
.mod-send-pm	{ background:		url("/images/icons/email.png") center left no-repeat; }
.mod-go-channel	{ background:		url("/images/icons/group.png") center left no-repeat; }
.mod-go-tap	{ background:		url("/images/icons/email_open.png") center left no-repeat; }
.mod-ban-user	{ background:		url("/images/icons/delete.png") center left no-repeat; }
.mod-unban-user	{ background:		url("/images/icons/accept.png") center left no-repeat; }

.mod-promote-user { background:		url("/images/icons/medal_gold_add.png") center left no-repeat; }
.mod-unpromote-user { background:		url("/images/icons/medal_gold_delete.png") center left no-repeat; }

.mod-delete-tap	{ background:		url("/images/icons/page_white_delete.png") center left no-repeat; }

.icon-user	{ background:		url("/images/icons/user.png") center left no-repeat; }
.icon-tap	{ background:		url("/images/icons/page_add.png") center left no-repeat; }
.icon-response	{ background:		url("/images/icons/page_add.png") center left no-repeat; }
.icon-private { background:		url("/images/icons/email_add.png") center left no-repeat; }
