#content .body .full {
	margin: 0;
	padding: 15px;
}


div.info {
	line-height: 1.3;
	color: #D8DEC2;
}

div.info h2 {
	color: #fffa00;
	font-size: 14px;
	margin-top: 20px;
	margin-bottom: 5px;
}

div.info p {
	font-size: 12px;
	margin-top: 0;
	margin-bottom: 10px;
}

div.info p.callout {
	color: #fffa00;
	font-size: 16px;
	line-height: 1.2;
	margin: 0 0 20px 0;
}

div.form input.stretch {
	width: 600px;
}

div.form input.big {
	font-size: 18px;
	padding: 10px;
}

div.form p.buttons, div.form p.center {
	text-align: center;
}

div.form p.buttons {
	margin-top: 30px;
}

div.form button.action {
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	padding: 10px;
	background: #fffa00;
	border: 1px solid #fffa00;
}

div.form button.action:hover {
	background: #fffa00;
}

#connect-signup {
        display: none;
        position: absolute;
        width: 500px;
        z-index: 2;
        background: #F2F2F2;
        top: 100px;
        left: 200px;
        border: 1px solid #ccc;
        padding: 10px;
}

#connect-signup h2 {
        border-bottom: 2px solid #ccc;
        color: #333;
        font-weight: bold;
        margin-bottom: 10px;
}

#connect-signup p {
        margin-bottom: 10px;
        font-size: 13px;
}

#connect-signup span.indicator {
        display: none;
}

#connect-signup2 span.indicator {
        display: none;
}

#connect-signup p.forms {
        margin-top: 10px;
        padding-left: 30px;
        clear: both;
}

#connect-signup label {
        font-size: 16px;
        margin-top: 20px;
        font-weight: bold;
        color: #3088ED;
}

#connect-signup p.guide, #connect-signup2 p.guide {
        display: none;
        margin-top: -5px;
        text-align: right;
        padding-right: 60px;
        margin-bottom: 10px;
        clear: both;
        color: #F12C46;
}

#connect-signup input {
        border: 1px solid #ccc;
        padding: 5px;
        float: right;
        margin-right: 50px;
        width: 300px;
        font-size: 16px;
        margin-bottom: 10px;
}

#connect-signup input.error {
        background: #FDEBEB;
}

#connect-signup input.passed {
        background: #EEFDEB;
}

#connect-signup2 input.error {
        border:1px solid red;
}

#connect-signup2 input.passed {
	border:1px solid lightgreen;
}

#connect-signup button {
        font-size: 16px;
}

.tap-from a, #tapper-info a.tap-from {
        color: #115E69;
}
       

#login a.tab {
	width: 30px;
	height: 30px;
	background-color: #ACB19B;
	float: left;
	margin-right: 5px;
	margin-bottom: 0;
	text-decoration: none;
	color: #101010;
	font-size: 12px;
}

#login a.selected {
	background-color: #fffa00 !important;
}

#tab-people {
	background: url('/images/flat/icon.tap.png') no-repeat 30% center;
}

#login h2 {
	margin: 0;
	margin-top: 0;
	background: #fffa00;
	color: #101010;
	clear: both;
	float: left;
	padding: 5px;
	font-size: 14px;
	width: 220px;
}

#login ul {
	margin: 0;
	float: left;
	width: 230px;
	padding: 0;
	list-style: none;
	font-size: 12px;
	border-bottom: 2px solid #fffa00;
}

body #login li {
	border-top: 1px solid #616161;
	background: #101010;
	padding: 8px 5px;
	margin: 0;
}

#login li.notice {
	font-size: 11px;
	color: #D8DEC2;
}

#login li.action {
	text-align: center;
}

#login li label {
	margin-bottom: 3px;
	font-weight: bold;
	color: #fffa00;
}

#login li p {
	margin: 0;
}

#login li p.body {
	font-size: 11px;
	width: 200px;
}

#login li input {
	width: 200px;
}

#login li button {
	cursor: pointer;
	font-size: 14px;
	padding: 3px;
	background: #fffa00;
	width: 60px;
	border: 1px solid #fffa00;
}

#login li button:hover {
	background: #fffa00;
}

#inviter {
	background: #3C3C3C;
	padding: 10px;
}

#inviter p, #inviter h2 {
	margin: 0;
}

#inviter h2 {
	color: #fffa00;
	font-size: 14px;
	margin-bottom: 10px;
}

#inviter p {
	color: #D8DEC2;
	font-size: 12px;
}

#inviter a {
	text-decoration: none;
	margin-right: 3px;
}

#inviter a:hover {
	text-decoration: underline;
	color: #fffa00;
}

#searchbar {
	margin-left: 50px;
}

#signup-link{
display:block;
float:right;
padding-top:4px;
font-size:14px;
font-weight:bold;
}

#signup-link a{
padding-left:16px;
color:yellow;
}

#fblogin{
float:left;
}

#taplogin li{
overflow:hidden;
}
