/**
 * Tap Global Styles
 */

/* RESET */
html, body, div, h1, h2, h3, h4, p, ul, ol, li, dl, dt, dd, img, form, fieldset, blockquote {
	margin: 0; padding: 0; border: 0; outline: 0; font-weight: normal; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align:baseline; list-style-type: none; list-style-image: none;
}

/* GLOBALS */
body {
	background: #fff;
	font-family: Arial, Helvetica, sans-serif;
}

a:link, a:visited, a:active {
	outline: none;
	font-style: normal;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a img {
	border: 0;
}

div { position: relative; }

.clarity { clear: both; }

.left-clarity { clear: left; }

.right-clarity { clear: right; }

.overTxtLabel {
	color: #999;
	font-size: 14px;
}

/* SECTIONS */

/* Header */
#header {
	margin:0 auto;
	margin-top:14px;
	width: 800px;
}

#signup-link-main{
float:left;
display:block;
width:190px;
}

#header a { color: #fff; }

#logo {
	background: url(/images/cimages/mega_alpha_logo.gif) no-repeat center center;
	float: left;
	margin-left:40px;
	height: 70px;
	margin-top: -18px;
	width: 130px;
}

#logo a { display: none; }

#main-menu {
	background: url(/images/cimages/new_menu_bar.png) no-repeat left top;
	float: left;
	font-size: 13px;
	font-weight: normal;
	height: 40px;
	margin-left: 26px;
	padding-top: 7px;
	padding-left: 14px;
	width: 375px;
}

#main-menu a {
	color: #999;
	margin-right: 17px;
}

#main-menu a:hover {
	color: #115E69;
}

#login-info {
	color: #115E69;
	float: right;
	font-size: 12px;
	padding-right: 2px;
	text-align: right;
	margin-right: 10px;
}

#login-info	a {
	color: #999;
	font-size: 11px; }

#login-info strong {
	margin-left: 2px;
	font-size: 14px;
	color: #115E69; }

/* Body */
#main {
	background:#f2f2f2;
	margin: 0 auto ;
	width: 810px;
}

/* Sidebars */
div.sidebar {
	float: left;
	width: 194px;
}

#sidebar-left { display:none;margin-right: 20px; }

#sidebar-right { margin-left:20px;}

/* Sidebar Sections */
.sidebar div.section { margin-bottom: 15px; }

.sidebar div.section-head {
	background: url(/images/cimages/main_bar_blue.gif) no-repeat;
	color: #fff;
	height: 28px;
}

.sidebar div.section-head.gray {
	background-image: url(/images/cimages/tab_grey.gif);
}

.sidebar div.section-head h1 {

	font-size: 14px;
	padding: 6px 12px 0;
}

.sidebar div.section-body {
	background: #f2f2f2;
	border: 1px solid #e5e5e5;
	font-size: 12px;
	padding: 8px 0px 10px 8px;
	width: 184px;
}

.sidebar div.section-body a {
	/* color: #000; */
	margin-left: 4px;
}

/* Main Content */
#content {
	margin-left:40px;
	float: left;
	margin-right: 0 auto;
	width: 553px;
}

div.section {
	margin-bottom: 20px;
}

#content div.section-head {
	background: #EAEAEA url(/images/cimages/main_bar_blue.gif) no-repeat;
	padding: 5px 4px 5px;
}

#content div.section-head h1 {
	color: #fff;
	font-size: 14px;
	padding: 4px 0 0 6px;
}

#content div.section-head.big {
	background-image: url(/images/cimages/main_bar_blue.gif);
	height: 30px;
	padding: 1px 10px 0 5px;
}

#content div.section-head.big h1 {
	font-size: 18px;
	font-weight: normal;
}

#content div.section-body.info {
	border: 1px solid #b4b4b4;
	border-top: none;
	margin-left: 3px;
	margin-top: -1px;
	padding: 5px;
	width: 535px;
}

#content div.section-body.feed {
	margin-left: 1px;
	width: 549px;
}

/* SPECIALS */

/* Templates (Always Hide) */
#templates { display: none; }

/* Suggested Groups */
div.section-body ul.suggested-groups {}

ul.suggested-groups p.name {
	font-weight: bold;
	height: 14px;
}

ul.suggested-groups p.name img {
	float: left;
	margin-right: 10px;
}

ul.suggested-groups p.focus {
	margin-bottom: 20px;
	font-size: 10px;
}

/* User Stats */
div.section-body.user-stats {}

div.section-body.user-stats p {
	font-size: 13px;
	color: #666;
	font-weight: normal;
	margin-bottom: 20px;
}

div.section-body.user-stats span {
	font-family: "Trebuchet MS", "Lucida Grande", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 20px;
}

/* Information Blocks */
.sidebar div.section-body.info {}

.sidebar div.section-body.info h2, div.section-body.info p {
	color: #666;
	font-size: 12px;
	margin-right: 10px;
}

.sidebar div.section-body.info h2 {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 5px;
}

.sidebar div.section-body.info p {
	margin-bottom: 15px;
}

.no-convos strong {
	color: #999;
	font-weight: bold; }