/* --- RESET + INITIAL STYLES ---------------------------------------------------------------> */

html, body, div, h1, h2, h3, h4, p, ul, ol, li, dl, dt, dd, img, form, fieldset, blockquote {
	margin: 0; padding: 0; border: 0; outline: 0; font-weight: normal; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align:baseline; list-style-type: none; list-style-image: none;
}

a:link, a:visited, a:active { outline: none; font-style: normal; text-decoration: none; }
a:hover { text-decoration: underline; } 
a img { border: 0; }

div { position: relative; }


/* --- BODY + TOP anchor --------------------------------------------------------------------> */

body {
	font-family: arial, Helvetica, sans-serif; 
	background: #FFF; }
	
.holder {
	height: auto; width: 970px;
	margin-left: auto; margin-right: auto; }

#header {
	height: 38px; width: auto;
	font-size: 14px;
	color: white;
	background: #4796dc url(/images/cimages/menu_bar.gif) repeat-x; }
	
	#header .holder { top: 9px; }
	
	#header a { color: white; }
		
	#logo {
		float: left;
		text-indent: -9999px;
		height: 26px; width: 88px;
		margin-top: -4px; 
		background: url(/images/cimages/tap_logo_beta.gif); }
		
	#main-menu {
		float: left;
		margin-left: 18px; }
		
		#main-menu a { margin-right: 8px; }
			
	#login-info { float: right; }
	
		#login-info a { margin-left: 8px; }
		
#main {
	height: auto; width: 990px;
	margin: 20px auto; }
	
	#left-col {
		height: auto; width: 194px;
		float: left; }
	
	#ppl-tab {
		height: 31px; width: 194px;
		background: url(/images/cimages/tab_blue.gif); }
		
	#groups-tab {
		height: 31px; width: 194px;
		background: url(/images/cimages/tab_green.gif); }
		
	#filters-tab {
		height: 31px; width: 194px;
		background: url(/images/cimages/tab_yellow.gif); }
		
		.tab-in {
			font-size: 14px;
			padding: 6px 12px 0 12px; }
		
			.tab-in a { color: white; }
		
			#filters-tab .tab-in a { color: #333333; }
		
			.name { float: left; }
		
			.options { float: right; }
		
		.tab-in input {
			float: right;
			font-size: 11px;
			padding: 2px;
			margin-top: -1px; margin-right: 8px;
			height: 12px; width: 60px;
			border: 1px solid grey;
			background: white; }
			
		.tab-list {
			height: auto; width: 176px;
			font-size: 12px;
			padding: 8px 3px 13px 12px;
			margin-right: 3px;
			background: #f2f2f2; }
			
			.tab-list a {
				color: black;
				vertical-align: 6px;
				padding-left: 2px; }
			
			.list-item { margin-bottom: 3px; }
			
			.item-filters, .item-add { font-size: 10px; }
			
			.more-btn1  {
				float: right;
				font-size: 10px;
				margin-right: 6px; margin-top: 4px;}

	#center-col {
		float: left;
		height: auto; width: 553px;
		margin-left: 14px; }
		
	#group-search {	
		height: 50px; width: 553px;
		margin-top: -2px;
		background: url(/images/cimages/group_srch_back.gif); }
		
		#group-search p {
			padding: 12px 0 0 15px;
			font-size: 14px;
			font-weight: bold;
			color: #707070; }
			 
		#search-field {
			font-size: 12px;
			margin: 0;
			height: 20px; width: 180px;
			padding-top: 5px; padding-left: 5px; padding-right: 30px;
			border: none;
			background: transparent url(/images/cimages/group_srch_field.gif) no-repeat scroll 0% 0%; }
			
		#search-btn {
			height: 32px; width: 77px;
			margin-top: -3px; margin-left: 6px;
			vertical-align: -10px; }
			
		#group-search p #more-btn2 {
			font-size: 10px;
			color: #707070; }
	
	#group-search-more {
		background: url(/images/cimages/group_srch_more.gif) bottom; 
		height: 30px; 
		width: 517px;
		margin-top: 1px;
		margin-left: 12px;
		padding: 5px}
		
		#group-search-more div {
			margin: auto; width: 450px
			}
			
		#group-search-more label {
			color: #707070;
			font-weight: bold;
			margin-left: 10px;
			margin-right: 5px;
			font-size: 12px }
		
		#group-search-more input {
		}
			
	#gr-header {	
		height: 41px; width: 553px;
		margin-top: 10px;
		color: white;
		background: url(/images/cimages/main_bar_blue.gif); }
		
			.gr-title {
				margin-top: 10px; margin-left: 21px;
				float: left;
				font-size: 18px; }
			
			.gr-filters {
				margin-top: 9px; margin-right: 17px;
				float: right;
				width: 280;
				font-size: 12px; }
				
			a#gr-filter1 {
				color: white;
				margin-right: 6px; }

			#gr-create-btn {
				width:130px;
				height:25px; display:block; float:left;
				background: url(/images/cimages/gr_new_btn.gif) no-repeat left;}
				
				#gr-create-btn:hover { 
					background-position: right; }
				
			#gr-header input {
				background: url(/images/cimages/gr_srch_field.gif) no-repeat;
				border-style:hidden;
				border-width:0px;
				height:22px;
				margin-top: 2px;
				width:115px;
				padding:4px 0 0px 6px;}
			
			.overTxtLabel {
				color: #ccc;
			}
			
			#gr-filter-btn {
				background: url(/images/cimages/magn_green.gif) no-repeat left top;
				padding-left: 22px; padding-top: 3px; padding-bottom: 3px; }

				#gr-filter-btn:hover { 
					background-position: right top; }

	#gr-search {
		display: none;
		font-size: 12px;
		height: 18px; width: 529px;
		padding: 9px 12px 0 12px;
		margin-top: 10px;
		background: url(/images/cimages/gr_srch_results_top.gif); }
		
		#gr-search .gr-search-title {
			float: left; }

		#gr-search .gr-search-pages {
			float: right; }
				
	.gr-sort-bar {
		height: 20px; width: 545px;
		margin-left: 3px; margin-bottom: -1px;
		padding: 0;
		font-size: 11px;
		border: 1px solid #b4b4b4;
		color: #545454;
		background: #e5e5e5; }
		
		.gr-sort-bar p { margin-top: 3px; }
		.gr-sort-bar a { color: #545454; }
		
		#sort-logo {  margin-left: 28px; }
		#sort-name { margin-left: 25px; }
		#sort-loc { margin-left: 6px; }
		#sort-msgs { margin-left: 196px; }
		#sort-mmbrs { margin-left: 23px; }
		
	#gr-list ul {
		margin: 0 0 0 3px; }
		
		#gr-list li {
			margin-bottom: -1px;
			height: 77px; width: 545px;
			color: #545454;
			border: 1px solid #b4b4b4;
			background: #EAEAEA url(/images/cimages/message_back.gif) no-repeat; }
			
		.gr-image {
			float: left;
			margin-top: 15px; margin-left: 16px;
			height: 46px; width: 46px;
			border: 1px solid #c4c4c4; }
			
		.gr-offic {
			vertical-align: -2px;
			margin-right: 4px; }
			
		.gr-info {
			float: left;
			height: auto; width: 260px;
			font-size: 12px;
			margin-top: 14px; margin-left: 16px; }
			
			div.gr-info > p:first-child { height: 15.2px; overflow: hidden; }
			
			.gr-info p strong { color: black; font-weight: bold; }
			
			.gr-desc {
				margin-top: 5px;
				font-size: 10px; }
			
			a.more-btn3 {
				color: #545454;
				margin: 0 0 0 10px; }
				
		.gr-numbers {
			float: left;
			margin-top: 23px; margin-left: 4px;
			height: 46px; width: 58px; }
			
			.gr-numbers p { text-align: center; font-size: 10px; }
			
			.gr-numbers p strong { font-size: 11px; font-weight: bold; color: black; }
				
		.gr-btns {
			float: left;
			height: auto; width: 57px;
			margin-left: 10px; margin-top: 20px;
			font-size: 11px;
			text-align: center; }
			
			.gr-btns a {
				color: #545454; }
			
			a.gr-invite-btn {
				padding: 0px 23.5px; 
				height: 17px; 
				float: right;
				margin-bottom: 5px;
				background: url(/images/cimages/gr_invite_btn.gif) left; }
			
			a.gr-invite-btn:hover {
				background-position: right;
			}
							
			a.gr-admin-btn {
				clear: left;
				padding: 0px 23.5px;
				height: 17px;
				float: right;
				background: url(/images/cimages/gr_admin_btn.gif) left; }
							
			a.gr-admin-btn:hover {
				background-position: right; }
			
			a.gr-join-btn {
				padding: 0px 23.5px;
				height: 29px;
				float: right;
				background: url(/images/cimages/gr_join_btn.gif) left; }

			a.gr-join-btn:hover {
				background-position: right; }
		
		.more-btn4 {
			height: 21px; width: 91px;
			text-align: center;
			margin-left: auto; margin-right: auto; margin-top: 1px;
			background: url(/images/cimages/more_btn.gif); }
			
			.more-btn4 a {
				vertical-align: 4px;
				font-size: 11px;
				color: #545454; }
	
		li.more-invite div, li.info div {
			padding: 6px 10px;
			font-size: 12px; 
			height: auto; }
			
			li.more-invite p, li.info p {
				margin-top: 10px; }
				

	#right-col { 
		float: left;
		height: auto; width: 184px;
		padding: 5px;
		background: #F2F2F2 url(/images/cimages/tab_grey.gif) no-repeat;
		margin-left: 20px; }
	
		#right-col h1 {
			color: #fff;
			font-size: 14px;
			padding: 2px 5px;
			margin-bottom: 15px; }
		
		#right-col h2, #right-col p {
			color: #666;
			font-size: 12px; 
			margin-left: 10px; 
			margin-right: 10px; }
		
		#right-col h2 { 
			margin-bottom: 5px;
			font-size: 14px; 
			font-weight: bold; }
		
		#right-col p {
			margin-bottom: 15px;
		}
		
		#left-col h2 {
			font-size: 13px; 
			color: #666;
			font-weight: normal;
			margin-bottom: 20px;
		}
		
		#left-col h2 span {
			font-family: "Trebuchet MS", "Lucida Grande", Arial, Helvetica, sans-serif;
			font-weight: bold;
			font-size: 20px;
		}

.group {
padding-bottom: 3px; }