


/* GLOBAL */

* { margin:0; padding:0; }

body{
	margin-top:0px;
	margin-bottom:10px;
	font-size:.7em;
	font-family:arial,sans-serif;
}

#container{
	width:800px;
	height:600px;
	margin:0 auto;
	border:1px  ;
	text-align:center;
}

/* *** END GLOBAL *** */




/* The "top bar" */

	#top{
		padding:6px 8px 14px 14px ;
		background:white url('../../images/bg-top.gif') no-repeat -180px -20px;
	}

/* *** END "top bar" *** */


/* Footer */

	#footer{
		width:142px;
		margin:0 auto;
		text-align:middle;
	}

/* *** END Footer *** */


/* Logo */

	#top_logo{
		border:1px  ;
	}

/* *** END Logo *** */

/* Info on Homepage */
	
	#info{
		padding:10px;
		border:1px  ;
	}
	
	#info ul li{
		list-style:none;
		padding-bottom:12px;
	}
	
	#post{
		color:#0000FF;
	}

/* Forms */

	#forms ul{
		padding:8px;
		margin-right:60px;
	}
	
	#submit_button {
	font-size:12px;
	font-family:arial;
	}
	
	textarea{
	height:50px;
	width:124px;
	}
	
	#forms #top_form{
		padding-bottom:10px;
		margin-left:4px;
	}
	
	#top_form #title{
	width:124px;
	}
	
	fieldset{
		padding:8px 0 18px 0;
		width:500px;
		margin:0 auto;
		border:none;
		background:white url('../../images/bg.gif') no-repeat;
	}
	
	#forms li{
		list-style:none;
		display:inline;
		font-weight:bold;
	}
	
	#forms ul label{
		vertical-align:middle;
		padding:0 8px 8px 10px;
	}
	
	#forms #bottom_form label{
		vertical-align:top;
	}
	
	#sub{
		vertical-align:top;
	}
	
	#title{
		width:120px;
	}
	
	#sub-catagory{
		vertical-align:top;
	}
	
/* *** END forms *** */


/* links */

	#links{
		padding:14px;
		padding-top:0px;
		width:360px;
		margin:0 auto;
	}
	
	#links ul li{
		list-style:none;
		display:inline;
		border-right:1px  ;
		padding-right:8px;
		padding-left:8px;
		margin-top:0px;
		line-height:200%;
	}

/* *** END links *** */