@charset "UTF-8";
/* CSS Document */

:focus {
    -moz-outline-style: none !important;
}

.hidden {
    display: none !important;
}

a {
    outline: none !important;
}

*, body {
	margin:0;
	padding:0;
}

input[type=submit] {
	cursor:pointer;
}

body {
	background:url(../images/bg.gif) repeat;
	font-family:Helvetica, Arial, sans-serif;
	color:#545454;
	text-shadow:1px 1px #fff;
	font-size:12px;
	line-height:18px;
	position:relative;
}

.clear {
	clear:both;
	display:block;
	height:0px;
	zoom:1;
}

#header {
	position:absolute;
	width:100%;
	min-width:900px;
	height:89px;
	background:url(../images/header.png) repeat-x;
	top:0px;
	left:0px;
	z-index:10;
}
#header .wrap {
	width:900px;
	margin:0 auto;
	height:auto;
	padding:15px 0 0 0;
}
#header .wrap .left {
	float:left;
}
#header .wrap .right {
	position:relative;
	float:right;
}
#header .wrap .right .user {
	width:auto;
	height:21px;
	background:#346394;
	padding:1px 5px 0 1px;
	text-shadow:1px 1px #0b131d;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	float:right;
	margin:15px 0 0 0;
}
#header .wrap .right .user img {
	float:left;
	border:none;
	width:20px;
	height:20px;
}
#header .wrap .right .user .name {
	font-size:12px;
	color:#fff;
	font-weight:bold;
	float:left;
	padding:0 25px 0 5px;
	text-decoration:none;
	background:url(../images/arrow_blue.gif) no-repeat right center;
	line-height:20px;
}
#header .wrap .right .user .dropdown {
	display:none;
	border:2px solid #346394;
	background:#eee;
	width:150px;
	padding:0 10px;
	position:absolute;
	text-shadow:1px 1px #fff;
	top:36px;
	right:0px;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-top-right-radius: 0px;
-moz-border-radius-topright: 0px;
border-top-right-radius: 0px;
}
#header .wrap .right .user .dropdown a {
	color:#545454;
	text-decoration:none;
}
#header .wrap .right .user .dropdown a:hover {
	color:#000;
}
#header .wrap .right .user .dropdown li {
	list-style:none;
	padding:5px 0;
	border-bottom:1px solid #b9b9b9;
	font-size:11px;
}
#header .wrap .right .user .dropdown li.settings {
	border-top:none;
	padding: 5px 0 5px 20px;
	background:url(../images/pencil.png) no-repeat left center;
}
#header .wrap .right .user .dropdown li.logout {
	border-bottom:none;
	padding: 5px 0 5px 20px;
	background:url(../images/signout.png) no-repeat left center;
}
#header .wrap .right .user:hover .dropdown {
	display:block;
}

#logo {
	float:left;
	height:51px;
	width:77px;
	display:block;
	text-indent:-9999px;
	overflow:hidden;
	border:none;
	background:url(../images/logo_small.png) no-repeat;
	margin:0 10px 0 0;
}
#header form {
	float:left;
	width:296px;
	height:auto;
	padding:10px 0 0 0;
    position: relative;
}
#header input[type=text] {
	width:258px;
	height:17px;
	border:none;
	background:url(../images/header_field.png) no-repeat;
	font-size:12px;
	color:#545454;
	font-family:Helvetica, Arial, sans-serif;
	padding:8px 30px 8px 8px;
}
#header #access {
	display:block;
	float:right;
	height:23px;
	width:190px;
	border:none;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/access.png) no-repeat;
	margin:15px 0 0 0;
}












#controls {
	padding:30px 0 0 0;
	height:13px;
	position:relative;
	z-index:2;
	border-bottom:1px solid #dbdbdb;
}
#pause {
	display:block;
	background:url(../images/button_wide.gif) repeat-x;
	color:#222;
	text-shadow:1px 1px #fff;
	border:1px solid #a6a6a6;
	font-size:11px;
	font-weight:bold;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	text-decoration:none;
	padding:3px 6px;
	float:left;
	margin:7px 0 0 0;
	position:absolute;
	top:0;
	right:0;
}
#pause:after {
    content: attr(def);
}
#pause.active {
	background:#3c3c3c;
	text-shadow:1px 1px #000;
	color:#fff;
	border:1px solid #232323;
}
#pause.active:after {
    content: attr(alt);
}
#controls #filters {
	display:inline;
	float:right;
	background:url(../images/filter_semi.png) repeat;
	border:1px solid #ccc;
	padding:10px;
	font-size:10px;
}
#controls #filters span {
	background:url(../images/filter.gif) no-repeat left center;
	padding:5px 5px 5px 25px;
}
#filters .filter {
	display:inline;
	background:url(../images/filter_bg.gif) repeat-x left center;
	padding:6px;
	border:1px solid #a6a6a6;
	font-size:11px;
	font-weight:bold;
	color:#616161;
	text-decoration:none;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	margin:0 0 0 3px;
}
#filters .filter:hover {
	color:#2878ca;
}
#controls #filters .filter span {
	background:url(../images/filter_drop.png) no-repeat right center;
	padding:0 12px 0 0;
}









#reply {
	background:url(../images/filter_semi.png) repeat;
	border:1px solid #ccc;
	padding:10px;
	display:block;
	margin:15px 0;
	position:relative;
}
#reply .anonym {
	display:block;
	width:16px;
	background:rgba(255,255,255,.85);
	border:1px solid #9f9f9f;
	font-size:10px;
	color:#000;
	text-decoration:none;
	text-shadow:1px solid #fff;
	position:absolute;
	top:43px;
	height:16px;
	padding:0;
	left:15px;
	padding:0;
	text-align:center;
}
#reply .anonym:hover {
	background:rgba(255,255,255,1);
}
#reply .anonym img {
	border:none;
}
#reply .avatar {
	padding:2px;
	background:#fff;
	border:1px solid #ccc;
	height:50px;
	width:50px;
	overflow:hidden;
	float:left;
	margin:0 4px 0 0;
}
#reply textarea {
	display:block;
	float:left;
	width:454px;
	height:36px;
	border:none;
	background:url(../images/reply_field.gif) no-repeat top left;
	padding:10px;
	font-family:Helvetica, Arial, sans-serif;
	font-size:12px;
	color:#545454;
	margin:0 3px 0 0;
}
#reply input[type=submit] {
	width:76px;
	height:56px;
	border:none;
	background:url(../images/reply_button.gif) no-repeat;
	float:left;
}
.conversation .forced-bottom {
	position:fixed;
	bottom:0;
	left:50%;
	padding:5px 0 0 0;
	margin:0 0 0 -450px;
	background:url(../images/forced_bottom.png) repeat-x top;
}
.conversation .br {
	width:240px;
	height:1px;
	display:block;
}
.conversation #reply .avatar {
	padding:2px;
	background:#fff;
	border:1px solid #ccc;
	height:25px;
	width:25px;
	overflow:hidden;
	float:left;
	margin:0 4px 0 0;
}
.conversation #reply textarea {
	display:block;
	float:left;
	width:482px;
	height:14px;
	line-height:14px;
	border:none;
	background:url(../images/reply_field.gif) no-repeat top left;
	padding:8px;
	font-family:Helvetica, Arial, sans-serif;
	font-size:12px;
	color:#545454;
	margin:0 3px 0 0;
}
.conversation #reply input[type=submit] {
	width:76px;
	height:30px;
	border:none;
	background:url(../images/reply_reply.gif) no-repeat center;
	float:left;
}
.border {
	border-top:1px solid #d7d7d7;
}







#content {
	width:900px;
	padding:90px 25px 0;
	margin:0 auto;
	position:relative;
}
#content #left {
	float:left;
	width:635px;
	height:auto;
	position:relative;
}
.forced {
	position:fixed;
	width:635px;
	top:0;
	padding:90px 0 15px 0;
	left:50%;
	margin:0 0 0 -450px;
	background:url(../images/forced.png) repeat-x bottom left;
	z-index:9;
}
#left.conversation {
	padding:50px 0 0 0;
}
h1.wide {
	font-size:18px;
	font-weight:normal;
	border-bottom:1px solid #d7d7d7;
	display:block;
	padding:13px 0 13px 25px;
	background:url(../images/feed.png) no-repeat left center;
	margin:0 0 13px 0;
}
#content #left h1.title {
	font-size:18px;
	font-weight:normal;
	border-bottom:1px solid #d7d7d7;
	display:block;
	padding:13px 0 13px 25px;
	position:relative;
}
#content #left .forced h1.title.feed {
	background:url(../images/side_04.gif) no-repeat left center;
	height:18px;
}
#content #left h1.title.feed {
	background:url(../images/feed.png) no-repeat left center;
	height:18px;
}
#content #left h1.title.profile {
	background:none;
	padding-left:0;
	position:relative;
}
#content #left h1.title.profile a.view-all {
	position:absolute;
	top:15px;
	right:0px;
	color:#2878ca;
	text-decoration:none;
	font-size:10px;
}

#feed {
}
#feed.conversation {
	padding:0 0 80px 0;
}
#feed.conversation .reply-item {
	padding:10px;
}
#feed.conversation .reply-item .username {
    display: none;
}
.feed-item {
	display:block;
	border-bottom:1px solid #d7d7d7;
/*	padding:30px 10px;*/
	padding:15px 1px;
	position:relative;
}
div.feed-item.new {
    background-color: rgba(255, 255, 220, 0.3);
}
div.feed-item.opened {
    padding-bottom: 0px;
}
div.feed-item.opened .latest-reply, div.feed-item.opened a.comments, div.feed-item.empty .latest-reply, div.feed-item.empty a.comments {
    display: none;
}
div.feed-item.opened a.reply {
    display: none;
}
div.feed-item.opened:hover a.reply {
    display: block;
}
a.reply:after {
    content: attr(def);
}
div.feed-item.opened:hover a.reply:after {
    content: attr(alt);
}
div.feed-item.opened .replies, div.feed-item.opened .resizer {
    display: block;
}
.conversation .reply-item .thumb {
	width:25px;
	height:25px;
	padding:2px;
	background:#fff;
	border:1px solid #ccc;
	overflow:hidden;
	float:left;
	margin:0 10px 0 0;
}
.conversation .reply-item .thumb img {
	width:25px;
	height:25px;
}
.feed-item.last {
	border-bottom:none;
}
.feed-item:hover {
	background:rgba(255,255,255,.4);
}
.feed-item img.avatar-author {
	float:left;
	padding:2px;
	background:#fff;
	border:1px solid #c6c6c6;
	margin:0 10px 0 0;
}
.feed-item h3 {
	font-size:14px;
	margin:0 0 3px 0;
}
.feed-item .timestamp {
	display:none;
    float: right;
}
.feed-item:hover .timestamp {
	display:inline;
	font-size:10px;
	color:#999;
	line-height:12px;
}
.feed-item h3 a {
	color:#346394;
	text-decoration:none;
}
.feed-item:hover h3 a {
	color:#2878ca;
}
.feed-item h3 small {
	font-size:10px;
	font-weight:normal;
	color:#9f9f9f;
}



.reply-item {
	display:block;
	border-bottom:1px solid #d7d7d7;
	padding:30px 10px;
	position:relative;
}
.reply-item.last {
	border-bottom:none;
}
.reply-item:hover {
	background:rgba(255,255,255,.4);
}
.reply-item img.avatar-author {
	float:left;
	padding:2px;
	background:#fff;
	border:1px solid #c6c6c6;
	margin:0 10px 0 0;
}
.reply-item h3 {
	font-size:14px;
	margin:0 0 3px 0;
}
.reply-item .timestamp {
	display:none;
    float: right;
}
.reply-item:hover .timestamp {
	display:inline;
	font-size:10px;
	color:#999;
	line-height:12px;
}
.reply-item h3 a {
	color:#346394;
	text-decoration:none;
}
.reply-item:hover h3 a {
	color:#2878ca;
}
.reply-item h3 small {
	font-size:10px;
	font-weight:normal;
	color:#9f9f9f;
}



.conversation .reply-item .text {
	float:left;
	display:block;
	width:570px;
	word-wrap: break-word;
}
.conversation .reply-item:hover .timestamp {
	display:inline;
	font-size:10px;
	color:#999;
	line-height:18px;
}
.feed-item .message {
	font-style:normal;
	color:#202020;
	width:500px;
	display:block;
	float:left;
	margin:0 0 10px 0;
}
.feed-item .message a {
	color:#202020;
    text-decoration: none;
    display: block;
	padding:5px 0;
}
.feed-item .message a:hover {
	color:#2878ca;
}
.feed-item .edit {
	position:absolute;
	display:none;
	width:29px;
	height:22px;
	clear:both;
	top:98px;
	left:10px;
	overflow:hidden;
	text-indent:-9999px;
	background:url(../images/feed_edit.png) no-repeat;
}
.feed-item:hover .edit {
	display:block;
}
.feed-item .circle {
	position:absolute;
	top:15px;
	right:0;
	height:20px;
	width:auto;
}
.feed-item .circle span {
	position:absolute;
	top:0;
	right:0;
	width:20px;
	height:20px;
	background:url(../images/circle_small.png) no-repeat top;
}
.feed-item:hover .circle span {
	background:url(../images/circle_small.png) no-repeat bottom;
}

.feed-item .icons {
	position:absolute;
	top:15px;
	right:25px;
	height:20px;
	width:auto;
}
.feed-item .icons img, .feed-item .circle img {
	border:none;
}
.feed-item .icons span {
	color:#9f9f9f;
	font-size:10px;
	line-height:11px;
	position:relative;
	padding:5px 0 0 0;
	display:block;
	float:right;
	display:none;
}
.feed-item:hover .icons span {
	display:block;
}
.feed-item .icons a {
	margin:0 0 0 5px;
	float:right;
}
.feed-item .reply {
	display:inline;
	background:url(../images/feed_reply.gif) repeat-x center;
	font-size:11px;
	font-weight:bold;
	color:#545454;
	padding:1px 5px;
	text-decoration:none;
	border:1px solid #a6a6a6;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	float:right;
}
.feed-item .reply:hover {
	color:#2878ca;
}
.feed-item .comments {
	display:inline;
	float:right;
	font-size:10px; color:#2878ca;
	padding:1px 5px;
	border:1px solid #fff;
	box-shadow:inset -1px -1px 0px #c1c1c1;
	-moz-box-shadow:inset -1px -1px 0px #c1c1c1;
	text-decoration:none;
	background:#eee;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	margin:0 5px 0 0;
	-webkit-box-shadow: #C1C1C1 -1px -1px 0px;
}
.feed-item .comments:hover {
	color:#346394;
}
.feed-item .latest-reply {
	background:#d1e2f4;
	display:inline;
	float:left;
	margin:0 0 0 65px;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
}
.feed-item .latest-reply .avatar-reply {
	float:left;
	padding:1px;
}
.feed-item .latest-reply .reply-author {
	display:inline;
	text-decoration:none;
	float:left;
	background:url(../images/comments_sep.gif) no-repeat right center;
	padding:2px 10px 2px 5px;
	color:#333;
	font-weight:bold;
}
.feed-item .latest-reply span {
	float:left;
	background:#fff;
	padding:2px 5px 2px 5px;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
}

#feed .load {
	height:15px;
	text-decoration:none;
	border:1px solid #a6a6a6;
	background:url(../images/button_wide.gif) repeat-x;
	font-size:11px;
	font-weight:bold;
	color:#474747;
	text-align:center;
	display:block;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	padding:8px 0;
	margin:15px 0;
}
#feed .load:hover {
	color:#2878ca;
}
#controls .tab {
	height:auto;
	text-decoration:none;
	border:1px solid #dbdbdb;
	border-bottom:none;
	background:rgba(0,0,0,.12);
	font-size:11px;
	font-weight:bold;
	color:#fff;
	text-shadow:1px 1px rgba(0,0,0,.2);
	text-align:center;
	display:block;
	padding:5px 8px;
	margin: -16px 0 0 0;
	width:auto;
	float:left;
	﻿﻿﻿-webkit-border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
}
#controls .tab.active {
	background:none;
	border:1px solid #dbdbdb;
	border-bottom:1px solid #f0f0f0;
	color:#545454;
	text-shadow:1px 1px #fff;
}
#controls #authenticated.active {
	background:url(../images/lock.png) no-repeat -4px 5px;
}
#controls #authenticated {
	background:url(../images/lock.png) no-repeat -4px 5px #cdcdcd;
	padding:5px 8px 5px 24px
}
.warning {
	background:#FAF9C9;
	border:1px solid #ffe222;
	padding:10px 15px;
	margin:15px 0 0 0;
	color:#222;
	font-size:11px;
	text-shadow:1px 1px #fff;
}
.warning .close {
	float:right;
	color:#800000;
	font-weight:bold;
	text-decoration:none;
}










#sidebar {
	width:240px;
	float:right;
}
#sidebar.conversation {
	position:fixed;
	top:88px;
	right:50%;
	margin:0 -450px 0 0;
}
#sidebar #navigation {
	list-style:none;
}
#sidebar #navigation li {
	display:block;
	border-bottom:1px solid #d7d7d7;
}
#sidebar #navigation li.last {
	border-bottom:none;
}
#sidebar #navigation li a {
	color:#545454;
	text-decoration:none;
	display:block;
	padding:13px 0;	
}
#sidebar #navigation li a:hover {
	color:#000;
}
#sidebar #navigation li.active a {
	font-weight:bold;
	color:#000;
}
#tab-your {
	background:url(../images/feed.png) no-repeat right center;
}
#tab-circles {
	background:url(../images/side_02.gif) no-repeat right center;
}
#tab-people {
	background:url(../images/side_03.gif) no-repeat right center;
}
#tab-conversations {
	background:url(../images/side_04.gif) no-repeat right center;
}
#tab-discover {
	background:url(../images/side_05.gif) no-repeat right center;
}
#search {
	width:200px;
	height:22px;
	border:none;
	background:url(../images/side_search.gif) no-repeat top left;
	font-size:12px;
	color:#545454;
	font-family:Helvetica, Arial, sans-serif;
	padding:5px 30px 5px 10px;
	margin:15px 0;
}
#sidebar .box {
	padding:15px 0;
}
#sidebar .box a {
	color:#2878ca;
	text-decoration:none;
}
#sidebar .box a:hover {
	text-decoration:underline;
}

#sidebar .box h3.title {
	font-size:12px;
	font-weight:normal;
	color:#545454;
	padding:0 0 13px 0;
	border-bottom:1px solid #d7d7d7;
	position:relative;
	margin:0 0 13px;
}
#sidebar .box h3.title a.view-all {
	position:absolute;
	top:0px;
	right:0px;
	color:#2878ca;
	text-decoration:none;
	font-size:10px;
}
#sidebar .box h3.username {
	font-size:14px;
	font-weight:bold;
	color:#545454;
	padding:0 0 11px 0;
	border-bottom:1px solid #d7d7d7;
	position:relative;
	margin:0 0 13px;
}
#sidebar .box h3.username .online {
	padding:0 20px 0 0;
	background:url(../images/profile_online.gif) no-repeat right center;
}
#sidebar .box h3.username .offline {
	padding:0 20px 0 0;
	background:url(../images/profile_offline.gif) no-repeat right center;
}
#sidebar .profile-thumb {
	float:right;
	border:none;
	margin:0 0 10px 10px;
}
#sidebar .box p {
	margin:0 0 10px 0;
}
#sidebar .box .stats {
	float:left;
	font-size:20px;
	color:#1d5c9e;
	padding:0 35px 0 0;
	margin:0 0 15px 0;
}
#sidebar .box .stats.last {
	padding:0;
}
#sidebar .box .stats small {
	font-size:11px;
	color:#939393;
	display:block;
	line-height:14px;
}
#sidebar .box h3.username small {
	font-size:12px;
	font-style:italic;
	font-weight:normal;
	display:block;
}
#sidebar .edit {
	float:left;
	width:29px;
	height:22px;
	overflow:hidden;
	text-indent:-9999px;
	background:url(../images/feed_edit.png) no-repeat;
	margin:0 0 0 5px;
}
#sidebar .box .follow {
	display:inline;
	background:url(../images/button_wide.gif) repeat-x;
	font-size:11px;
	font-weight:bold;
	color:#222;
	text-shadow:1px 1px #fff;
	border:1px solid #a6a6a6;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	text-decoration:none;
	padding:1px 6px;
	float:left;
}
#sidebar .box .follow:hover {
	text-decoration:none;
}
#sidebar .box .follow:after {
    content: attr(def);
}
#sidebar .box .follow.active {
	background:#3C3C3C;
	color:#fff;
	text-shadow:1px 1px #000;
	border:1px solid #232323;
}
#sidebar .box .follow.active:after {
    content: attr(alt);
}
#sidebar .box .pm {
	display:inline;
	background:url(../images/filter_bg.gif) repeat-x left center;
	padding:1px 6px;
	border:1px solid #a6a6a6;
	font-size:11px;
	font-weight:bold;
	color:#616161;
	text-decoration:none;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	margin:0 0 0 5px;
	float:left;
}
#sidebar .box .pm:hover {
	color:#2878ca;
	text-decoration:none;
}
#sidebar form {
    position: relative;
}
.follower-thumb {
	width:25px;
	height:25px;
	float:left;
	margin:0 9px 9px 0;
}
.follower-thumb img {
	border:none;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
	/* For IE 8 */
	-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	-moz-opacity:.4;    /* old mozilla browser like netscape  */
	-khtml-opacity: .4;    /* for really really old safari */  
	opacity: .4;    /* css standard, currently it works in most modern browsers like firefox,  */
}
.follower-thumb:hover img {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	/* For IE 8 */
	-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-moz-opacity:1;    /* old mozilla browser like netscape  */
	-khtml-opacity: 1;    /* for really really old safari */  
	opacity: 1;    /* css standard, currently it works in most modern browsers like firefox,  */
}
.conversation .circle-thumb {
	float:right;
	margin: 0 0 10px 10px;
}
.conversation .circle-thumb img, .side .circle-thumb img {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	/* For IE 8 */
	-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-moz-opacity:1;    /* old mozilla browser like netscape  */
	-khtml-opacity: 1;    /* for really really old safari */  
	opacity: 1;    /* css standard, currently it works in most modern browsers like firefox,  */
}
.side .circle-thumb {
	float:right;
	margin: 0 0 10px 10px;
}
.conversation h3.username {
	position:relative;
	text-indent:25px;
}
.conversation h3.username img {
	position:absolute;
	top:0;
	left:0;
}
.circle-thumb {
	position:relative;
	width:50px;
	height:50px;
	float:left;
	margin:0 5px 13px;
}
.circle-thumb img {
	border:none;
	position:relative;
	z-index:5;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
	/* For IE 8 */
	-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	-moz-opacity:.4;    /* old mozilla browser like netscape  */
	-khtml-opacity: .4;    /* for really really old safari */  
	opacity: .4;    /* css standard, currently it works in most modern browsers like firefox,  */
}
.circle-thumb:hover img {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	/* For IE 8 */
	-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-moz-opacity:1;    /* old mozilla browser like netscape  */
	-khtml-opacity: 1;    /* for really really old safari */  
	opacity: 1;    /* css standard, currently it works in most modern browsers like firefox,  */
}
.circle-thumb .circle {
	position:absolute;
	z-index:8;
	background:url(../images/circular.png) no-repeat;
	width:51px;
	height:51px;
	text-indent:-9999px;
	overflow:hidden;
}
.user-circles {
	padding:13px 0;
}
.user-circles .circle-thumb {
	margin-right:8px;
}
.activity {
	font-size:10px;
	font-weight:bold;
	font-style:italic;
}

.conversation .latest-reply {
	float:left;
	display:inline;
	margin:0 0 5px 0;
}
.conversation .latest-reply .avatar-reply {
	float:left;
	padding:1px;
	background:#d1e2f4;
}
.conversation .latest-reply .reply-author {
	display:inline;
	text-decoration:none;
	float:left;
	background:url(../images/comments_sep.gif) no-repeat right center #d1e2f4;
	padding:2px 10px 2px 5px;
	color:#333;
	font-weight:bold;
}
.conversation .latest-reply span {
	float:left;
	background:#fff;
	padding:2px 5px 2px 5px;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
}









#user-edit label {
	color:#356494;
	font-size:14px;
	font-weight:bold;
	display:block;
	padding:0 0 5px 10px;
}
#user-edit label small {
	font-size:12px;
	color:#545454;
	font-weight:normal;
	padding:0 0 0 5px;
	display:inline;
}
#user-edit input[type=text] {
	border:2px solid #346394;
	display:block;
	font-size:18px;
	color:#343434;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	padding:5px;
	width:226px;
	margin:0;
	letter-spacing:1px;
}
#user-edit input[type=submit] {
	height:32px;
	text-decoration:none;
	border:1px solid #a6a6a6;
	background:url(../images/button_wide.gif) repeat-x;
	font-size:10px;
	font-family:Helvetica, Arial, sans-serif;
	text-shadow:1px 1px #fff;
	font-weight:bold;
	color:#474747;
	text-align:center;
	display:block;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	padding:4px 0;
	margin:15px 0;
	width:500px;
}
#user-edit span.up {
padding:0;
display:block;
float:left;
font-size:12px;
font-weight:normal;
line-height:12px;
padding:0 0 0 20px;
}
#user-avatar-changer {
float:left;
}
#user-edit .cont {
	float:left;
	width:240px;
padding:0 20px 0 0;
}
#user-edit .cont.second {
padding:0;
}
#user-edit .single {
padding:0;
}
#user-edit .single input[type=text] {
	border:2px solid #346394;
	display:block;
	font-size:18px;
	color:#343434;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	padding:5px;
	width:486px;
	margin:0;
	letter-spacing:1px;
}
#user-edit span {
	display:block;
	font-size:14px;
	font-weight:bold;
	margin:20px 0;
	padding:0;
}








#group-edit label {
	color:#356494;
	font-size:14px;
	font-weight:bold;
	display:block;
	padding:0 0 5px 10px;
}
#group-edit label small {
	font-size:12px;
	color:#545454;
	font-weight:normal;
	padding:0 0 0 5px;
	display:inline;
}
#group-edit input[type=text] {
	border:2px solid #346394;
	display:block;
	font-size:18px;
	color:#343434;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	padding:5px;
	width:226px;
	margin:0;
	letter-spacing:1px;
}
#group-edit textarea {
	border:2px solid #346394;
	display:block;
	font-size:12px; line-height: 18px;
	color:#343434;
	font-weight:normal;
	font-family:Arial, Helvetica, sans-serif;
	padding:5px;
	width:486px;
	height:55px;
	margin:0;
}
#group-edit input[type=submit] {
	height:32px;
	text-decoration:none;
	border:1px solid #a6a6a6;
	background:url(../images/button_wide.gif) repeat-x;
	font-size:10px;
	font-family:Helvetica, Arial, sans-serif;
	text-shadow:1px 1px #fff;
	font-weight:bold;
	color:#474747;
	text-align:center;
	display:block;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	padding:4px 0;
	margin:15px 0;
	width:500px;
}
#group-edit select {
	border:2px solid #346394;
	display:block;
	font-size:18px;
	color:#343434;
	font-weight:normal;
	letter-spacing:1px;
	font-family:Arial, Helvetica, sans-serif;
	padding:4px;
	width:240px;
	margin:0;
}
#group-edit span.up {
padding:0;
display:block;
float:left;
font-size:12px;
font-weight:normal;
line-height:12px;
padding:0 0 0 20px;
}
#avatar-changer {
float:left;
}
#group-edit .cont {
	float:left;
	width:240px;
padding:0 20px 0 0;
}
#group-edit .cont.second {
padding:0;
}
#group-edit span {
	display:block;
	font-size:14px;
	font-weight:bold;
	margin:20px 0;
	padding:0
}
#group-edit span input[type=checkbox] {
	margin:0 0 0 20px;
	float:none;
	display:inline;
}









#footer {
	width:900px;
	padding:15px 25px;
	border-top:1px solid #d7d7d7;
	margin:15px auto 0;
	font-size:11px;
}
#footer .copyright {
	float:left;
}
#footer #footer-navigation {
	float:right;
}
#footer #footer-navigation li {
	display:inline;
	list-style:none;
	padding:0 5px;
}
#footer-navigation li a {
	color:#2878ca;
	text-decoration:none;
}
#footer-navigation li a:hover {
	text-decoration:underline;
}
#templates {
	display: none;
}
#title-desc-tooltip, #follow-tooltip, #name-tooltip, #side-tooltip, #error-tooltip {
  display: none;
}
.tooltip-error.position-top {
  position: absolute;
  padding: 0 0 5px;
  margin:-5px 0 0 0;
  width: auto;
  max-width:200px;
  font-size: 11px;
  color: #FFF;
  text-shadow: 1px 1px #000;
  background: url(../images/tooltip_red_down.png) no-repeat bottom center;
  }
.tooltip-error.position-bottom {
  position: absolute;
  padding: 5px 0 0 0;
  margin:15px 0 0 0;
  width: auto;
  max-width:200px;
  font-size: 11px;
  color: #FFF;
  text-shadow: 1px 1px #000;
  background: url(../images/tooltip_red.png) no-repeat top center;
  }
.tooltip-error {
  position: absolute;
  padding: 0 0 5px;
  width: auto;
  max-width:200px;
  font-size: 11px;
  color: #FFF;
  text-shadow: 1px 1px #000;
  background: url(../images/tooltip_red_down.png) no-repeat bottom center;
  }
.tooltip-error a {
  color: white;
}
  .tooltip-name .bg, .tooltip-title-desc .bg, .tooltip-follow .bg, .tooltip-side .bg {
	  background:rgba(0,0,0,.8);
	  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
  padding:5px;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  }
  .tooltip-error .bg {
	  background:rgba(222,33,39,.8);
	  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99de2127, endColorstr=#99de2127);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99de2127, endColorstr=#99de2127)";
  padding:5px;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  }
.tooltip-title-desc {
  position: absolute;
  padding: 5px 0;
  width: auto;
  max-width:200px;
  font-size: 11px;
  color: #FFF;
  text-shadow: 1px 1px #000;
  background: url(../images/tooltip_small.png) no-repeat 22px 0;
  margin:5px 0 0 0;
  }
.bg h2 {
	  font-size:12px;
	  font-weight:bold;
  }
  .tooltip-side, .tooltip-follow {
  position: absolute;
  padding: 0 5px;
  width: auto;
  max-width:200px;
  font-size: 11px;
  color: #FFF;
  text-shadow: 1px 1px #000;
  background: url(../images/tooltip_small_left.png) no-repeat right center;
  margin:0 0 0 -10px;
  }
.tooltip-author h2 { font-size: 11px; font-weight: bold; }

.position-top.align-center {
  position: absolute;
  padding: 0 0 5px;
  width: auto;
  max-width:200px;
  font-size: 11px;
  color: #FFF;
  text-shadow: 1px 1px #000;
  background: url(../images/tooltip_small_bottom.png) no-repeat bottom center;
  color: #FFF;
  text-shadow: 1px 1px #000;
  margin:-5px 0 0 0;
  }
.position-left.align-middle {
  position: absolute;
  padding: 0 5px 0 0;
  width: auto;
  max-width:200px;
  font-size: 11px;
  color: #FFF;
  text-shadow: 1px 1px #000;
  background: url(../images/tooltip_small_right.png) no-repeat right center;
  color: #FFF;
  text-shadow: 1px 1px #000;
  margin:0 0 0 -5px;
  }
.position-right.align-middle {
  position: absolute;
  padding: 0 0 0 5px;
  width: auto;
  max-width:200px;
  font-size: 11px;
  color: #FFF;
  text-shadow: 1px 1px #000;
  background: url(../images/tooltip_small_left.png) no-repeat left center;
  color: #FFF;
  text-shadow: 1px 1px #000;
  margin:0 0 0 5px;
  }
.position-bottom.align-center {
  position: absolute;
  padding: 5px 0 0;
  width: auto;
  max-width:200px;
  font-size: 11px;
  color: #FFF;
  text-shadow: 1px 1px #000;
  background: url(../images/tooltip_small.png) no-repeat top center;
  color: #FFF;
  text-shadow: 1px 1px #000;
  margin:5px 0 0 0;
  }

/*** <Search results> ***/
#search-results {
        position:absolute;
        width:296px;
        height:auto;
        background:#232323;
}
#search-results .thumb {
        float:left;
        width:21px;
        height:21px;
        position:relative;
        margin:7px;
}
#search-results li .thumb span {
        display:block;
        position:absolute;
        width:21px;
        height:21px;
        z-index:2;
        background:url(../images/search_over.png) no-repeat top left;
}
#search-results li {
        list-style:none;
        display:block;
        text-shadow:1px 1px #000;
        height:35px;
        padding:5px 10px 5px 0px;
}
#search-results li.create {
        background:#346394;
}
#search-results li.create h3.title a {
        color:#fff;
}
#search-results li.create:hover {
        background:#346394;
}
#search-results li.create .thumb span {
        background:none;
}
#search-results li.create:hover .thumb span {
        background:none;
}
#search-results li:hover {
        background:#000;
}
#search-results li:hover .thumb span {
        background:url(../images/search_over.png) no-repeat center center;
}
#search-results li h3.title {
        font-size:14px;
        font-weight:bold;
}
#search-results li h3.title a {
        color:#2878ca;
        text-decoration:none;
}
#search-results li:hover h3.title a {
        color:#fff;
}
#search-results li small {
        font-size:10px;
        color:#d0d0d0;
        display:block;
        position:relative;
}
#search-results li small span {
        float:left;
}
#search-results li small strong {
        float:right;
        font-weight:normal;
        color:#197a06;
}
#search-results li small strong em {
        color:#d0d0d0;
        font-style:normal;
}
/*** </Search results> ***/

/*** <Relies feed> ***/
.replies {
    display: none;
    width:500px;
    border:2px solid #9cb4c3;
    padding:1px;
    margin-left: 65px;
    background:rgba(255,255,255,.4);
    position:relative;
}
.replies .arrow {
	width:21px;
	height:11px;
	background:url(../images/reply_arrow.png) no-repeat;
	top:-11px;
	left:10px;
	position:absolute;
}
.replies .list {
        max-height:250px;
		height:auto;
        overflow:auto;
        overflow-x:hidden;
        padding: 0 1px;
		background:#fff;
}
.replies .list .reply-item {
        padding:10px 10px;
        margin:0 0 2px 0;
		background:#e8edf0;
}
.reply-item a {
	color:#6aa6e3;
	text-decoration:none;
}
.reply-item a:hover {
	text-decoration:underline;
}
.replies .list .reply-item.last {
        border-bottom:none;
}
.replies .list .reply-item h3.username {
        display:inline;
}
.replies .list .reply-item h3.username a {
	color:#346394;
}
.replies .list .reply-item .thumb {
        height:20px;
        width:20px;
        float:left;
}
.replies .list .reply-item .thumb img {
	width:20px;
	height:20px;
}
.replies .list .reply-item span.text {
        float:left;
        display:block;
        width:430px;
        margin:0 0 0 10px;
        padding:3px 0 0 0;
		word-wrap: break-word;
}

.replies .list .reply-item span.text span.timestamp {
        display:none;
        font-size:10px;
        color:#999;
        line-height:18px;
        margin:0 0 0 5px;
}
.replies .list .reply-item:hover span.text span.timestamp {
	display:inline;
}
.replies .field {
        height:50px;
        border:1px solid #b9b9b9;
}
.replies .field .thumb {
        width:50px;
        height:50px;
        float:left;
}
.replies .field .editor {
        width:448px;
        height:50px;
        float:left;
}
.replies .field textarea {
	height:38px;
	width:386px;
	border:1px solid #eee;
	font-family:Helvetica, Arial, sans-serif;
	font-size:12px;
	color:#545454;
	line-height:18px;
	padding:5px;
	float:left;
}
.replies .field input[type=submit] {
	width:50px;
	height:50px;
	border:none;
	background:url(../images/reply_reply.gif) no-repeat center;
	float:left;
}
/*** </Relies feed> ***/

/*** <Group edit page> ***/
#edit span input[type=checkbox] {
        margin:0 0 0 20px;
}
#add {
        background:url(../images/filter_semi.png) repeat;
        display:block;
        border:1px solid #b3b3b3;
        margin:30px 0;
        padding:25px;
}
#add li {
        list-style:none;
        float:left;
        display:block;
        width:40px;
        height:40px;
        padding:4px;
        margin:0 3px 8px 5px;
        position:relative;
}
#add li img {
                border:none;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
        /* For IE 8 */
        -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
        -moz-opacity:.4;    /* old mozilla browser like netscape  */
        -khtml-opacity: .4;    /* for really really old safari */  
        opacity: .4;    /* css standard, currently it works in most modern browsers like firefox,  */
        z-index:1;
        position:relative;
}
#add li:hover img {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        /* For IE 8 */
        -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        -moz-opacity:1;    /* old mozilla browser like netscape  */
        -khtml-opacity: 1;    /* for really really old safari */  
        opacity: 1;    /* css standard, currently it works in most modern browsers like firefox,  */
}
#add li:hover {
        padding:3px;
        border:1px solid #b3b3b3;
        background:#fff;
        height:40px;
        width:40px;
}
#add li .view {
        display:none;
        width:48px;
        height:18px;
        background:url(../images/edit_view.png) no-repeat;
        text-indent:-9999px;
        overflow:hidden;
        position:absolute;
        top:46px;
        left:-1px;
        z-index:5;
}
#add li:hover .view {
        display:block;
}
#add li span {
        position:absolute;
        z-index:8;
        border:none;
        top:28px; left:29px;
        display:block;
}
#add li:hover span {
        top:27px;
        left:28px;
}
#add label {
        color:#356494;
        font-size:14px;
        font-weight:bold;
        display:block;
        padding:0 0 5px 10px;
}
#add label small {
        font-size:12px;
        color:#545454;
        font-weight:normal;
        padding:0 0 0 5px;
}
.accept {
        text-decoration:none;
        border:1px solid #a6a6a6;
        background:url(../images/button_wide.gif) repeat-x;
        font-size:11px;
        font-weight:bold;
        color:#474747;
        text-align:center;
        display:block;
        border-radius:2px;
        -webkit-border-radius:2px;
        -moz-border-radius:2px;
        padding:8px;
        margin:10px 11px 0 0;
        float:right;
}
.reject {
        text-decoration:none;
        border:1px solid #000;
        background:#222;
        font-size:11px;
        font-weight:bold;
        color:#fff;
        text-align:center;
        display:block;
        border-radius:2px;
        -webkit-border-radius:2px;
        -moz-border-radius:2px;
        padding:8px;
        margin:10px 15px 0 0;
        float:right;
}
/*** </Group edit page> ***/

.resizer {
    display: none;
    height: 5px;
	background:url(../images/resize.gif) no-repeat top center #9CB4C3;
    width: 506px;
    cursor: s-resize;
	margin:0 0 15px 65px;
}

.resizer.hidden {
    display: block !important;
    visibility: hidden;
}

div.wrap form {
    display: block;
    position: relative;
}

div.text .typing {
    width: 65px;
	position:absolute;
	top:74px;
	left:2px;
	display:block;
	height:31px;
	overflow:hidden;
}
.feed-item.opened div.text .typing {
	height:auto !important;
	overflow:hidden;
}
div.text .typing .reply-author {
	display:none;
}
div.text .typing span {
	display:none;
}
div.text .typing .avatar-reply {
	background:#fff;
	border:1px solid #c6c6c6;
	float:left;
}

div.typing .latest-reply {
    display: block !important;
	width:31px;
	height:31px;
	background:none;
	float:left;
	margin:0;
	padding:0;
}
div.typing div.latest-reply.dim {
    opacity: 0.5;
}
div.typing .latest-reply .br {
	width:24px;
}
.auth {
	background:url(../images/auth.gif) no-repeat 4px 4px #d1e2f4;
	padding:3px 5px 3px 23px;
	border:none;
	text-decoration:none;
	color:#545454;
	font-size:12px;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	box-shadow:1px 1px 0px #bababa;
	-moz-box-shadow: 1px 1px 0px #bababa;
	-webkit-box-shadow: 1px 1px 0px #bababa;
	margin:0 0 15px 0;
	display:block;
	float:left;
}
.auth span {
	color:#333;
	font-weight:bold;
}
.official {
	float:left;
	padding:2px 18px 6px 8px;
	background:#9cb4c3;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	box-shadow:1px 1px 0px #66757f inset;
	-moz-box-shadow: 1px 1px 0px #66757f inset;
	-webkit-box-shadow: 1px 1px 0px #66757f inset;
	color:#fff;
	text-shadow:1px 1px #62717a;
	background:url(../images/official.gif) no-repeat 55px 5px #9cb4c3;
	font-size:10px;
	text-transform:uppercase;
	height:12px;
	margin:0 0 0 10px;
}
.title.feed span { float:left; }

/*** Highlighting for search in convo ***/
span.highlight {
    background-color: rgba(255, 255, 220, 0.5);
    font-weight: bold;
}

.feed-item .user {
	position:absolute;
	top:47px;
	left:33px;
}
.feed-item .user img {
	border:1px solid #c6c6c6;
	padding:1px;
	background:#fff;
	width:20px;
	height:20px;
}
.feed-item .circle .privatemessage {
	display:block;
	width:20px;
	height:20px;
	border:none;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/envelope.png) no-repeat center;
}
.feed-item:hover .circle .privatemessage {
	background:url(../images/envelope.png) no-repeat center;
}




#reply .media-preview, #feed .media {
	padding:10px 0 0 0;
}
#reply .media-preview .thumbnail, #feed .media .thumbnail {
	width:135px;
	height:100px;
	background:#fff;
	padding:2px;
	border:1px solid #d1d1d1;
	float:left;
}
#feed .media .thumbnail-video, #feed .media .thumbnail-image { width: 135px; height: 100px; background: #fff; border: 0;}
#reply .media-preview .data, #feed .media .data {
	float:left;
	width:450px;
	padding:0 0 0 10px;
	height:auto;
}
#reply .media-preview .data .title, #feed .media .data .title {
	font-size:14px;
	color:#4177a5;
	font-weight:normal;
	padding:2px 0 0 0;
}
#reply .media-preview .data .title.video, #feed .media .data .title.video {
	background:url(../images/media_video.png) no-repeat top right;
	padding:2px 22px 0 0;
	display:inline;
}
#reply .media-preview .data .title a {
	color:#4177a5;
	text-decoration:none;
}
#reply .media-preview .data small {
	color:#959595;
	font-size:10px;
	display:block;
}
#reply .media-preview .data small a {
	color:#959595;
	text-decoration:none;
}
#reply .media-preview .data em, #feed .media .data em {
	display:block;
	padding:10px 0 0 0;
}
.conversation .feed-item .message {
	margin:0;
	width:570px;
}
.feed-item .message {
	font-style:normal;
	color:#202020;
	width:500px;
	display:block;
	float:left;
	margin:0 0 10px 0;
}
.feed-item .message .thumbnail {
	float:left;
	padding:2px;
	border:1px solid #d1d1d1;
	width:100px;
	height:76px;
	background:#fff;
	display:block;
}
.feed-item .message .media-thumbnail {
  width: 100px;
  height: 76px;
	background:#fff;
	border:0;
}
.feed-item .message .display-video { position: relative;}
.feed-item .message .display-video img { position: absolute; border: 0;}
.feed-item .message .display-video .play-button { margin: 16px 30px;}

.feed-item .message .data {
	float:left;
	width:375px;
	padding:0 0 0 10px;
}
.feed-item .message .data .title {
	font-size:12px;
	font-weight:normal;
	margin:0;
}
.feed-item .message .data .title a {
	color:#4177a5;
	text-decoration:none;
	padding:0;
}
.feed-item .message .data small {
	font-size:10px;
	display:block;
	line-height:12px;
	margin:0 0 10px 0;
}
.feed-item .message .data small a {
	color:#959595;
	text-decoration:none;
	padding:0;
}

/*** Form input states used for validation ***/
textarea.validation-passed, input.validation-passed {
    -moz-box-shadow:        0 0 5px rgba(0, 200, 0, 0.5);
    -webkit-box-shadow:		0 0 5px rgba(0, 200, 0, 0.5);
    box-shadow:         	0 0 5px rgba(0, 200, 0, 0.5);
}
textarea.validation-failed, input.validation-failed {
    -moz-box-shadow:        0 0 5px rgba(200, 0, 0, 0.5);
    -webkit-box-shadow:		0 0 5px rgba(200, 0, 0, 0.5);
    box-shadow:         	0 0 5px rgba(200, 0, 0, 0.5);
}


/* TASO CSS */

#edit_circle{ 
margin-left:8px;
border:1px #CCC solid;
height:15px;
display:inline-block;
background: url(http://d1vgw4v7ja2ido.cloudfront.net/-58e19a2a4a4a0ecd.gif) no-repeat 2px 6px;
padding:4px 8px 2px 18px;
line-height:15px;
background-color:#DDD;
}

.pm-label{
	width:100px;
	float:right;
	display:block;
        padding:2px 12px 6px 20px;
        background:#acb4c3;
        border-radius:3px;
        -webkit-border-radius:3px;
        -moz-border-radius:3px;
        box-shadow:1px 1px 0px #66757f inset;
        -moz-box-shadow: 1px 1px 0px #66757f inset;
        -webkit-box-shadow: 1px 1px 0px #66757f inset;
        color:#fff;
        text-shadow:1px 1px #62717a;
        font-size:10px;
        text-transform:uppercase;
        height:12px;
        margin:0 0 10px 0px;
	background: url(http://mark.tap.info/static/images/envelope.png) #acb4c3 no-repeat 2px 2px;

}

.type-label{
	margin-top:10px;
	width:100px;
	display:inline-block;
        padding:2px 12px 14px 00px;
        background:#acb4c3;
        border-radius:3px;
        -webkit-border-radius:3px;
        -moz-border-radius:3px;
        box-shadow:1px 1px 0px #66757f inset;
        -moz-box-shadow: 1px 1px 0px #66757f inset;
        -webkit-box-shadow: 1px 1px 0px #66757f inset;
        color:#fff;
        text-shadow:1px 1px #62717a;
        font-size:10px;
        text-transform:uppercase;
        height:10px;
	line-height:5px;
}

button:hover {
cursor:pointer;
}
.box.circle-title {
margin-top:-12px;
}
.box.circle-title h3.username span {
font-size:10px;
display:block;
font-weight:normal;
line-height:12px;
}
#modal-group-edit {
    position: absolute;
}
#modal-image-display .img-container { display: block; }

/*** Mootools.Spinner ***/
.spinner {
	position: absolute;
	opacity: 0.9;
	filter: alpha(opacity=90);
	z-index: 99999;
	background: #fff;
    margin-left: -5px;
    margin-top: -4px;
}

.spinner-msg {
	text-align: center;
	font-weight: bold;
}

.spinner-img {
	background: url(../images/spinner.gif) no-repeat;
	width: 24px;
	height: 24px;
	margin: 0 auto;
}
/*** /Mootools.Spinner ***/

.media-preview-loading { padding: 30px 250px;}
.media-preview-loading span { display:block; float: right; line-height: 30px; height: 30px;}
.video-embed-close a { display: block; width: 50px; height: 15px; text-align: center; border: 1px solid #f00; line-height: 15px; float: right;}