.modal-window input:focus {
    -moz-box-shadow:        0 0 5px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow:		0 0 5px rgba(0, 0, 0, 0.15);
    box-shadow:         	0 0 5px rgba(0, 0, 0, 0.15);
}
#curtain {
	display: none;
	position: absolute;
	background: #000;
	height: 100%;
	width: 100%;
	z-index: 10;
	top: 0;
}

div#curtain.show {
    display: block;
}

#modal-container {
    width: 500px;
    margin: auto;
}
#modal-login {
}
#modal-sign-login {

}

.modal-window {
background: #F2F2F2;
border: 5px solid #b2b2b2;
display: none;
position: fixed;
top:50%;
left:50%;
margin:-115px 0 0 -233px;
height:auto;
width: auto;
padding:40px;
z-index: 11;
max-width:500px;
}


.modal-logo-large{
padding:20px 0;
display:block;
float:left;
width:251px;
}
#modal-sign-login button {
	background:#d1e2f4;
	padding:5px 20px;
	border:none;
	text-decoration:none;
	color:#202020;
	font-size:12px;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	box-shadow:1px 1px 0px #bababa;
	-moz-box-shadow: 1px 1px 0px #bababa;
	-webkit-box-shadow: 1px 1px 0px #bababa;
	margin:0 10px 15px 0;
	display:block;
	float:left;
	text-shadow:1px 1px #fff;
	font-weight:bold;
}
#modal-sign-login button:hover {
	background:#40729d;
	color:#fff;
	text-shadow:1px 1px #000;
	box-shadow:1px 1px 0px #3d3d3d;
	-moz-box-shadow: 1px 1px 0px #3d3d3d;
	-webkit-box-shadow: 1px 1px 0px #3d3d3d;
}
	
#modal-sign-login .text {
	float:left;
	padding:65px 0 0 40px;
	width:auto;
}

.modal-window small {
	font-size:14px;
	font-weight:normal;
	display:block;
}
.modal-window label.smaller {
	line-height:18px;
}
.modal-window .sep {
	border-bottom:1px solid #C6C6C6;
	border-top:1px solid #FFFFFF;
	height:0;
	margin:30px 0 30px 30px;
	width:420px;
}
.modal-window input[type=checkbox] {
	width:auto;
	margin:0 280px 0 0;
}
.fb {
}
#modal-signup {
	margin-top:-200px;
}
#modal-signup small {
	margin:10px 0 0 0;
}
#modal-signup button {
	background:#d1e2f4;
	padding:5px 20px;
	border:none;
	text-decoration:none;
	color:#202020;
	font-size:12px;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	box-shadow:1px 1px 0px #bababa;
	-moz-box-shadow: 1px 1px 0px #bababa;
	-webkit-box-shadow: 1px 1px 0px #bababa;
	margin:20px auto 0;
	display:block;
	text-shadow:1px 1px #fff;
	font-weight:bold;
}
#modal-signup button:hover {
	background:#40729d;
	color:#fff;
	text-shadow:1px 1px #000;
	box-shadow:1px 1px 0px #3d3d3d;
	-moz-box-shadow: 1px 1px 0px #3d3d3d;
	-webkit-box-shadow: 1px 1px 0px #3d3d3d;
}
#modal-login button {
	background:#d1e2f4;
	padding:5px 20px;
	border:none;
	text-decoration:none;
	color:#202020;
	font-size:12px;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	box-shadow:1px 1px 0px #bababa;
	-moz-box-shadow: 1px 1px 0px #bababa;
	-webkit-box-shadow: 1px 1px 0px #bababa;
	margin:20px auto 0;
	display:block;
	text-shadow:1px 1px #fff;
	font-weight:bold;
}
#modal-login button:hover {
	background:#40729d;
	color:#fff;
	text-shadow:1px 1px #000;
	box-shadow:1px 1px 0px #3d3d3d;
	-moz-box-shadow: 1px 1px 0px #3d3d3d;
	-webkit-box-shadow: 1px 1px 0px #3d3d3d;
}

.modal-window ul{
list-style: none;
}

div.modal-window.show {
    display: block;
}

.modal-window .modal-menu {
    margin-top: 50px;
    text-align: right;
    font-size: 14px;
    margin-right: 20px;
}

#modal-sign-notify {
    margin-top: 100px;
    text-align: center;
}

.modal-actions {
    color: #656565;
    font-size: 14px;
	text-align:center;
	display:block;
	width:auto;
	margin:5px auto 0;
}
       
.modal-window h2 {
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 4px;
	font-size:24px;
	font-weight:bold;
	line-height:18px;

}

.modal-window p {
    margin-bottom: 10px;
    font-size: 13px;
    color: #656565;
}

.modal-window a {
    color: #000000;
    font-weight: bold;
}

.modal-window span.indicator {
    display: none;
}

.modal-window p.forms {
    margin-top: 10px;
    padding-left: 30px;
    clear: both;
}

.modal-window label {
    font-size: 16px;
    margin-top: 20px;
	line-height:30px;
    font-weight: bold;
    color: #40729D;
}

.modal-window p.guide, .modal-window2 p.guide {
    display: none;
    margin-top: -5px;
    text-align: right;
    padding-right: 60px;
    margin-bottom: 10px;
	font-size:10px;
    clear: both;
    color: #F12C46;
}

.modal-window input {
	display:block;
    border: 2px solid #2E72A4;
    padding: 5px;
    float: right;
    margin-right: 50px;
    width: 300px;
    font-size: 16px;
    margin-bottom: 10px;
}

.modal-window input.error {
    background: #FDEBEB;
}

.modal-window input.passed {
    background: #EEFDEB;
}

.modal-cancel {
    font-size:11px;
	position:absolute;
	top:0px;
	right:3px;
}

#suggestions span.fail {
    color: darkgray;
    font-size: 14px;
    display: none;
}

div#suggestions {
    overflow: auto;
    background-color: white;
    border: 1px #c6c6c6 solid;
    color: black;
    padding:5px;
	width:445px;
    height:300px;
}
#modal-channel-suggestion button {
	background:#d1e2f4;
	padding:5px 20px;
	border:none;
	text-decoration:none;
	color:#202020;
	font-size:12px;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	box-shadow:1px 1px 0px #bababa;
	-moz-box-shadow: 1px 1px 0px #bababa;
	-webkit-box-shadow: 1px 1px 0px #bababa;
	margin:0 auto 15px;
	display:block;
	text-shadow:1px 1px #fff;
	font-weight:bold;
}
#modal-channel-suggestion button:hover {
	background:#40729d;
	color:#fff;
	text-shadow:1px 1px #000;
	box-shadow:1px 1px 0px #3d3d3d;
	-moz-box-shadow: 1px 1px 0px #3d3d3d;
	-webkit-box-shadow: 1px 1px 0px #3d3d3d;
}
#suggestions ul {
    color: black;
    font-size: 14px;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

#suggestions li {
	cursor: pointer;
	font-size: 11px;
	padding: 0px;
	box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 2px 1px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 2px 1px;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 2px 1px;
	position:relative;
	background:#f2f2f2;
	height:60px;
	margin-bottom:5px;
	width:430px;
}

#suggestions li.selected {
    background-color:#D1E2F4;
}

#suggestions li img {
	clear: right;
	display: inline-block;
	float: left;
	height: 50px;
	margin-left: 5px;
	margin-top: 2px;
	padding: 2px;
	width: 50px;
}

#suggestions input {
    font-weight:bold;
	left:410px;
	position:absolute;
	top:5px;
	cursor:pointer;
	margin:0;
}

#suggestions label {
	font-size:13px;
	font-weight:normal;
	left:70px;
	margin:0;
	position:absolute;
	top:17px;
	display:block;
	color:#545454;
}
#suggestions label[for=sugg_all] {
	left:10px;
}

#modal-channel-suggestion {
	margin-top:-250px;
}