.roar-body
{
	position:				absolute;
	font:					12px/14px "Lucida Grande", Arial, Helvetica, Verdana, sans-serif;
	color:					#fff;
	text-align:				left;
	z-index:				999;
	text-shadow:				1px 1px #000;
}


.roar
{
	position:				absolute;
	width:					300px;
	cursor:					pointer;
}
.roar-bg {
	position:				absolute;
	z-index:				1000;
	width:					100%;
	height:					100%;
	left:					0;
	top:					0;
	background-color:		#000;

	-moz-border-radius:		5px;
	-webkit-border-radius:	5px;
    border-radius:          5px;
    -moz-box-shadow:        0 0 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow:		0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow:         	0 0 5px rgba(0, 0, 0, 0.5);
}
.roar-bg:hover {
    background-color: #eee;
}
.roar-bg .dismiss {
    display:block;
    float:right;
    margin-right:10px;
    margin-top:5px; 
    font-weight: normal;
    font-size: 10px;
    color: lightgray;
    text-shadow:none;
}

.roar-bg .dismiss:hover {
    color:white;
}

.roar .avatar {
    clear:both;
    float:left;
    display:inline-block;
    margin-left:10px;
    margin-top:15px;
    position:relative;
    height:30px;
    width:30px;
    z-index: 1002;
}
.roar .group_icon {
    clear: both;
    float:right;
    margin-top: 15px;
    margin-right: 10px;
}
.roar-body-ugly .roar
{
	background-color:		#333;
}
.roar-body-ugly .roar-bg
{
	display:				none;
}
.roar h3 {
	position:	relative;
	padding:	13px 50px 0;
	margin:		0;
	border:		0;
	font-size:	11px;
	color:		#ccc;
	z-index:	1002;
}

.roar a{
	color:white;
	text-decoration:none;
}
.roar a:hover{
	text-decoration:underline;
}

.roar h3 a {
    font-weight: bold;
    font-size:  14px;
}
.roar p {
	position:				relative;
	padding:				10px 10px 15px;
	margin:					0;
	font-size:				12px;
	color:					#fff;
	z-index:				1002;
}

#notifications {
	position:fixed;
	bottom:5px;
	right:5px;
	width:233px;
	height:auto;
	background:#9cb4c3;
	border:1px solid #7e91a4;
}

#notifications .toggle {
	display:block;
	padding:3px;
	width:220px;
	color:#343434;
	font-weight:bold;
	text-decoration:none;
	background:url(../images/notifications_arrow.gif) no-repeat right center;
}
